[2020-04-23 10:30] ConeyLiu opened #3 "spawn spark executor from ray java api directly"

[2020-05-21 02:43] ConeyLiu opened #18 "Investigate store pyarrow.Table data in ray object store"
Currently, we serialize the pandas DataFrame and store it into ray object store in spark pandas udf, then get the object from ray (zero-copy) and deserialize back to pandas DataFrame in the TorchTrainer. For each block of data, we have to do:

1.  serialize the DataFrame into byte array.
2. copy the byte array to ray object store.
3. zero-copy the byte array and deserialize back to pandas DataFram

[2020-06-09 11:18] ConeyLiu opened #23 "Auto determine the number of processes for data loading"
Ideally, we could get the best performance when the time of data loading overlap with forward+backward time. This is a little similar to LR scheduling. We could use the history metrics to determine the reasonable processes number for data loading. This could also be added to Horovod.

[2020-07-10 01:12] #3 closed, assigned to nobody

[2020-08-06 06:30] buaazhwb opened #28 "PandasUDFType has no attribute "MAP_ITER""
In function `save_to_ray`,  the pandas udf type "MAP_ITER" is not supported in spark 3.0

[code]

[2020-08-20 06:02] ConeyLiu opened #30 "Code style check"
We need to add code style check for both python and java.

Hi @buaazhwb, can you pick this issue?

[2020-08-24 11:50] #28 closed, assigned to ConeyLiu

[2020-08-24 11:51] ConeyLiu opened #31 "Update and add RayDP documents"

[2020-08-24 11:51] ConeyLiu opened #32 "Cover more UT tests"

[2020-08-24 11:52] ConeyLiu opened #33 "Redirect Spark log to separate file"

[2020-08-24 11:54] ConeyLiu opened #34 "Better handle Spark RPC disconnect when exiting from ray connection"

[2020-08-25 07:20] ConeyLiu opened #36 "Estimator API for Tensorflow"

[2020-08-30 13:02] #36 closed, assigned to ConeyLiu

[2020-08-31 07:28] #30 closed, assigned to buaazhwb

[2020-08-31 07:37] #18 closed, assigned to nobody

[2020-09-10 08:43] buaazhwb opened #46 "Remove the accuracy calculation in evaluation of torch estimator"
We don't need to calculate accuracy in the evaluation of torch estimator, since we have no idea whether it's a regression or a classification task.

[2020-09-10 08:48] buaazhwb opened #47 "Tensorflow Dataset.shuffle missing 1 required positional argument"

[2020-09-14 03:08] #33 closed

[2020-09-21 08:18] buaazhwb opened #50 "Add predict api to estimator"
For now, user can only obtain predictions by getting the model and then predicting

[2020-09-21 09:07] buaazhwb opened #51 "Support training with multi label or one-hot encoded label"

[2020-09-27 14:45] ConeyLiu opened #55 "refactor Dataset API"
Refactor Dataset API into multiple subclasses:

1. GeneralDataset. This class is can process any python object and support any transform functions. And user needs to provide the function to convert the GeneralDataset to torch.data.Dataset or tf.data.Dataset.
2. TextDataset. This class aims to process structure data. Spark is a good choice for processing structure data. So this class is a wrapper o

[2020-09-27 14:47] ConeyLiu commented on #55
cc @carsonwang, @buaazhwb, any comment for this?

[2020-09-28 06:30] ConeyLiu commented on #50
what input and output should we want? And for predicting, does it should be the model serving part?

[2020-09-29 02:36] buaazhwb commented on #50
I'm not sure whom raydp's target user is.  Looks like the evaluate function is enough.
If I'm a kaggler,  I need the prediction result of test dataset which is without label and submit the result to the competition. For now, I need to get the model and predict by myself.
The purpose of predicting is different from serving. We just want to obtain the prediction in a python script

Input should supp

[2020-09-29 08:59] carsonwang commented on #55
Is TextDataset a little misleading? sounds like only handle text.

[2020-10-15 06:52] #47 closed

[2020-11-19 21:27] valiantljk opened #64 "Can not build raydp with Java"
When I enable Java for Ray, I couldn't build it successfully on MacOS

[code]
The errors are:
[code]
and
[code]

[code]
If I disable Java, the wheel can be built. But in the examples, I couldn't run this:

`ray.init(include_java=True)`

[2020-11-20 00:43] ConeyLiu commented on #64
Hi @valiantljk, are you build as follows:
[code]

We currently depend on modified ray 0.8.7 and spark.3.0.

[2020-11-20 00:54] valiantljk commented on #64
Yes, I followed those steps separately, i.e.,

-  build_pyspark_with_patch.sh
-  build_ray_with_patch.sh
-  mvn clean package -q -DskipTests
- python setup.py bdist_wheel

[2020-11-20 02:18] ConeyLiu commented on #64
Hi @valiantljk, can you provide the full log, do you have already installed bazel before? It seems like bazel build java part failed. Maybe the bazel version is incompatible with ray required.

[2020-11-20 02:25] ConeyLiu commented on #64
OK, it is the ray bug: https://github.com/ray-project/ray/pull/9907

[2020-11-20 02:53] ConeyLiu commented on #55
https://github.com/ray-project/ray/pull/11849 has merged into ray upstream. We will use `MLDataset` instead.

[2020-11-20 02:56] ConeyLiu commented on #34
this has fixed.

[2020-11-20 02:56] #34 closed

[2020-11-20 04:44] valiantljk commented on #64
Thanks @ConeyLiu. I just tried, and it fixed the issue. But there seems to be another bug:
[code]

[2020-11-20 04:58] valiantljk commented on #64
Ok, I made the following changes, it seems working.

In file streaming/java/streaming-runtime/src/main/java/io/ray/streaming/runtime/transfer/ChannelId.java
Change line 143-146
from
[code]
to
[code]

[2020-11-20 04:58] #64 closed

[2020-11-20 05:14] valiantljk opened #66 "raydp.init_spark error"
I'm following the example at: examples/pytorch/pytorch_nyctaxi.ipynb

Got this error when execute the raydp.init_spark

[code]

[2020-11-20 05:46] ConeyLiu commented on #66
Hi @valiantljk, it seems like caused by the JDK 11. Are you using JDK 11?

[2020-11-20 06:01] valiantljk commented on #66
Hi @ConeyLiu, I also found the cause related to jdk version. I switched to 11, and the issued was resolved. But got another issue when running spark_init

[code]

[2020-11-20 06:27] ConeyLiu commented on #66
It should work fine with JDK 1.8. I am using 1.8.0_171. And bazel version is: 3.2.0

[2020-11-20 06:30] ConeyLiu commented on #66
Our patch for ray has already merged into ray upstream. I will upgrade the ray version then those problems should go.

[2020-11-20 18:01] valiantljk commented on #66
Thanks, That would be great!

[2020-11-30 01:49] #55 closed

[2020-11-30 01:49] #66 closed

[2020-11-30 20:09] valiantljk opened #69 "Not working on Mac"
I followed the README to install RayDP.
Got error when running ./build.sh
[code]

I have:
- Python: 3.8
- Bazel 3.7.0-homebrew
- Jdk-15.0.1.jdk
- Mac: 10.15

Then I just manually re-run the python setup.py and it seems ok:
[code]

And I copied all wheels in dist/
[code]

And installed RayDP and PySpark with pip:
[code]

Then I run the following code on terminal:
[code]

Got this error:

[code]

[2020-12-01 01:16] ConeyLiu commented on #69
hi @valiantljk
[code]

The f string should work with python 3.8.  However, the error message comes from when the python version is smaller than python 3.6. I tested locally with python 3.8.0 and it works. Could you check your python version again?

[code]
This error means your `pyspark` has not built with our patch.
when you build with the following:
[code]

Have you see the following prints:
[cod

[2020-12-01 03:23] ConeyLiu opened #70 "Add MacOS CI"

[2020-12-01 05:47] valiantljk commented on #69
Yes, I have seen the same outputs:

[code]
And I uninstalled PySpark before re-installing.
Still got the error:

[code]

[2020-12-01 06:05] valiantljk commented on #69
I confirmed that the Spark code has been patched,

[code]

It's weird that the error still complains about it
[code]

[2020-12-01 06:08] ConeyLiu commented on #69
Do you have set `SPARK_HOME` env?

[2020-12-01 06:36] valiantljk commented on #69
Nope, how to set it?

[2020-12-01 06:54] ConeyLiu commented on #69
You could print in shell with:
[code]

or check in ipython:
[code]

[2020-12-01 07:40] valiantljk commented on #69
Turns out I have previously installed spark..
Setting the SPARK_HOME to dist/spark solved the issue.

Thanks @ConeyLiu !
The issue can be closed.

[2020-12-01 07:40] #69 closed

[2020-12-01 08:00] #70 closed

[2020-12-01 08:11] valiantljk opened #72 "Error when running estimator.fit_on_spark()"
I was able to run all the steps following the pytorch example, until:

[code]

Got this error:
[code]

[2020-12-01 08:15] ConeyLiu commented on #72
Could you try `pip uninstall dataclasses`. It seems the dataclasses not compatible with python 3.8.

[2020-12-01 12:48] ConeyLiu opened #74 "Possible unhandled error from worker: ray::ParallelIteratorWorker.par_iter_next_batch()"
The following erros are just error prints. It is a bug in ray and will be fixed in future.
[code]

[2020-12-07 08:53] dpittner opened #75 "Question regarding Dynamic Executor Allocation support for Spark"
What:
https://github.com/Intel-bigdata/oap-raydp/search?q=dynamic suggests that dynamic executor allocation may be added later.

Are there plans to add this, are there fundamental challenges in the ray context for supporting this?

[2020-12-07 11:44] ConeyLiu commented on #75
Hi @dpittner. Yeah, we have not supported dynamic executor allocation currently. We will add it support recently.
If you use `spark on ray` only, it should be easy to add the support. If you want to use spark on ray couple with estimator API, we should add the support of ray object ownership transfer.

[2020-12-07 13:05] ConeyLiu commented on #72
This should be closed.

[2020-12-07 13:05] #72 closed

[2020-12-07 13:05] #23 closed

[2020-12-17 06:41] valiantljk commented on #74
Hi, I also got this error, is there a bug report for Ray?

[2020-12-23 21:20] valiantljk opened #76 "Can't init spark on multi-nodes ray cluster on k8s"
Hi I was able to run raydp on my laptop and on K8S (by initializing a single node ray cluster, e.g., ray.init()),
but on K8S, if I run raydp by connecting to a multi-node existing ray cluster, e.g., ray.init(address="auto"), I got the errors, and ray head will crash.

Here is my test code:
[code]

[code]

[2020-12-23 23:23] valiantljk commented on #76
It might be this:

AppMasterJavaBridge.scala
[code]

[2020-12-24 00:40] valiantljk commented on #76
By looking at Ray's [Java API](https://github.com/ray-project/ray/blob/master/java/runtime/src/main/resources/ray.default.conf), it looks like we need to use ray.conf to modify the address

[2020-12-24 01:06] valiantljk commented on #76
I tried to set the address like this:

[code]

Still same error.

[2021-01-08 10:15] ConeyLiu commented on #76
hi @valiantljk, could you try #77 this? It works for me on k8s (1 master node, 2 worker nodes).
Also cc @carsonwang

[2021-01-22 20:19] wuisawesome opened #78 "[Enhancement] Update Ray version to nightly builds"
Hey there, it looks like Ray's Java API made a backwards incompatible change in December (https://github.com/ray-project/ray/pull/10762).

Because `RayConfig.instance()` was removed, `spark_init()` breaks at runtime.

I'm can contribute the change, but wanted to check if this is something the RayDP team is interested in first.

[2021-01-23 02:50] ConeyLiu commented on #78
Hi @wuisawesome, it would be very welcome, feel free to submit your fixes.

[2021-01-23 06:07] #78 closed

[2021-01-28 14:25] ConeyLiu opened #81 "Add Placement Group support for Spark executor"
Support set placement group for Spark cluster.

[2021-02-05 18:13] Hoeze opened #86 "raydp.modin module to integrate Modin?"
TL;DR:
**How does one zero-copy convert a PySpark dataframe to a Modin dataframe?**

I am currently searching for a way to manipulate PySpark dataframes without materializing them as a Pandas dataframe.
Since my experience with Ray has been quite good, I wonder whether it would be possible to solve this with Modin.

If yes, I think a `raydp.modin` module would be a perfect addition to this project

[2021-02-07 03:11] ConeyLiu commented on #86
Hi @Hoeze, Spark has their only data format (which called InternalRow) in memory. And as I know the partition of modin dataframe is represented by pandas DataFrame. So the convert the `InternalRow` to pandas DataFrame should be the most straightforward conversion.

[2021-02-07 03:57] Hoeze commented on #86
Thanks for your answer @ConeyLiu.
What I'm basically asking for, is the following method integrated to RayDP:
1) convert each partition to a separate Pandas dataframe (zero copy)
2) put each dataframe into Ray's object store
3) hand list of Ray remote dataframes over to Modin

This avoids collecting all data in a single large Pandas dataframe on the host and then distributing it again with Ray.

[2021-02-07 04:31] ConeyLiu commented on #86
We have already done this by leverage arrow format. You can see https://github.com/oap-project/raydp/blob/1f4853f44476fad52b9d2fa4519c4c76974557ef/python/raydp/spark/dataset.py#L70. This will save the spark into the ray object store and get a list of ray `ObjectId` as a return. The only gap is to wrap those `ObjectId`s into a Modin DataFrame.

[2021-02-07 04:42] carsonwang commented on #86
@Hoeze , Thanks for the feedback!  I am curious what your entire pipeline looks like and what operations are needed after the Spark processing? We also support creating a Ray MLDataset (a parallel iterator of pandas dataframe) from the Spark dataframe https://github.com/oap-project/raydp/blob/f833995a569df7da285b61e5eff415526538a360/python/raydp/spark/dataset.py#L31 This MLDataset can be used to t

[2021-02-07 14:16] Hoeze commented on #86
Perfect! Then the missing gap can be filled with that:
https://github.com/modin-project/modin/issues/2704

In the past, I tried Spark but had a lot of issues with in theory trivial joins that caused many full shuffle operations in practice.
As a solution, I tried applying Pandas UDF's that did the join manually.
This worked to a certain extent; writing Pandas UDF's is not easy to get right, especi

[2021-02-08 05:19] carsonwang commented on #86
Thanks for the detailed explanation. This makes sense. We should probably add an example for this.

[2021-02-17 06:32] zhe-thoughts opened #88 "Cannot start Spark session on my laptop"
I was using very simple code:

[code]

My laptop is MacBook (Big Sur). Tried Ray nightly and 1.2. PySpark 3.0.1. Tried Java 11 and 15.

Got the below error:

[code]

[2021-02-18 00:16] ConeyLiu commented on #88
Hi Zhe, it seems like the port 25333 is occupied.

发自我的iPhone

在 2021年2月17日，下午2:32，Zhe Zhang <notifications@github.com> 写道：

﻿

I was using very simple code:

import ray import raydp ray.init() spark = raydp.init_spark(app_name="RayDP example", num_executors=2, executor_cores=2, executor_memory="4GB")

My laptop is MacBook (Big Sur). Tried Ray nightly and 1.2. PySpark 3.0.1. Tried Java 11 and 15.

[2021-02-20 00:20] yanivg10 opened #89 "raydp.init_spark fails"
This line of code fails:
spark = raydp.init_spark(app_name="RayDP example",
                         num_executors=2,
                         executor_cores=2,
                         executor_memory="4GB")

I am getting the following errors (linux server with a standalone Spark cluster):

Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/spark/internal/Logging
	at java.lang.

[2021-02-20 00:29] ConeyLiu commented on #89
Hi @yanivg10. In RayDP, we running spark on ray which means we do not need another resource manager (eg: standalone, yarn).
[code]

And also, you should keep your `SPARK_HOME` environments should be compatible with the raydp required. Actually, you do not need to set `SPARK_HOME` because we use pyspark.

[2021-02-20 00:55] yanivg10 commented on #89
I already tried these steps using the spark on ray setup and could not get init_spark to work. ray.init() works fine.
raydp.init_spark() throws the following exception (I am running the code within a conda "raydp" virtual environment I created):

Exception                                 Traceback (most recent call last)
<ipython-input-3-cb3a24832a0a> in <module>
      4 cores_per_executor = 1

[2021-02-20 01:06] ConeyLiu commented on #89
@yanivg10 could you check whether there are any other pyspark programming? And check the port 25333 whether is occupied (with `lsof -i:25333`).

[2021-02-20 02:21] yanivg10 commented on #89
This port is not occupied and there are no pyspark programs running

[2021-02-20 02:29] ConeyLiu commented on #89
This seems like you have an incompatible spark with raydp. raydp requires spark 3.0.0 or 3.0.1.

[2021-02-20 03:20] yanivg10 commented on #89
I am using Pyspark 3.0.1

'3.0.1'

[2021-02-20 03:27] ConeyLiu commented on #89
Could you provide more logs or messages? I tested locally with ubuntu and works fine.
[code]

[2021-02-20 05:37] yanivg10 commented on #89
I tried your example and here is what I get:

2021-02-19 21:34:36,619	INFO services.py:1174 -- View the Ray dashboard at http://127.0.0.1:8266
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/home/guryaniv/.conda/envs/raydp2/lib/pyt

[2021-02-20 05:56] ConeyLiu commented on #89
Oh, I see. You can not submit the job with `spark-submit` script. You just need to run the python file directly.

[2021-02-21 17:01] tkram01 commented on #76
I am getting a similar error. I am using the Ray AWS cluster launcher. When I run a raydp program it acts like it is using a local ray instance and trying to launch the workers on the head node instead of on the worker nodes. Eventually the head node crashes from running out of memory. Here is my config for the Ray cluster launcher.

[code]

and the code I am trying to execute under ray

[code]

[2021-02-22 00:09] ConeyLiu commented on #76
Hi @tkram01, could you take a try the following?
[code]

[2021-02-22 01:15] tkram01 commented on #76
@ConeyLiu I get the similar behavior with your code. With the increased value for executor_memory I get these messages when monitoring.

[code]

If I am reading this correctly it is trying to create a worker with 41GB of RAM and my worker nodes only have 16GB. I'm not sure why this would ever be above the 2GB configured in spark_init. In any case it still tries to run on the head node until is run

[2021-02-22 01:21] offthewall123 opened #90 "examples/pytorch_dlrm.ipynb markdown format"
https://github.com/oap-project/raydp/blob/master/examples/pytorch_dlrm.ipynb

This example's markdown format not correct,
"cell_type": "raw" => "cell_type": "markdown",

@carsonwang

[2021-02-22 01:55] ConeyLiu commented on #76
@tkram01 Does this get the same errors on ray 1.1.0?

[2021-02-22 02:00] ConeyLiu commented on #90
You mean the Copyright, right? Will update it.

[2021-02-22 02:51] offthewall123 commented on #90
Yes.

[2021-02-22 13:28] tkram01 commented on #76
@ConeyLiu I see similar behavior on 1.1.0

[code]

[2021-02-22 19:03] yanivg10 commented on #89
I am running the python script directly, not using spark-submit. Could it be related to the ray version? Which ray version do you recommend? I'm using 1.2.0, but it looks like you are using 2.0.0.dev0

[2021-02-23 05:08] ConeyLiu commented on #89
Did you set `SPARK_HOME ` environments?

[2021-02-23 05:09] ConeyLiu commented on #76
Very strange.  I will take a look at this.

[2021-02-23 05:22] carsonwang commented on #89
@yanivg10 , it seems there is a problem to start the java process in your environment. Do you have JDK installed and have the environment variable JAVA_HOME set properly? Please try to run "java -version" and then run "pyspark" to see if pyspark itself can work properly.

[2021-02-23 06:33] ConeyLiu commented on #90
Fixed in #92

[2021-02-23 06:33] #90 closed

[2021-02-23 20:35] yanivg10 commented on #74
I am getting these errors too. Torch also complains about the input tensor size (I am running the NYC taxi fare prediction example). Any idea why is this happening?

(pid=56035) 2021-02-23 12:26:00,645     INFO distributed_torch_runner.py:58 -- Setting up process group for: tcp://9.1.44.100:55874 [rank=1]
(pid=56022) 2021-02-23 12:26:00,643	INFO distributed_torch_runner.py:58 -- Setting up process

[2021-02-23 20:42] yanivg10 commented on #89
Thanks. This was indeed related to the JAVA_HOME variable. It should not be set to any path for the code to run.

I am able to run your taxi fare prediction example, but Torch is throwing errors while the training session runs. It seems related to issue #74 and I added a comment there with the output log. Can you take a look at that?

[2021-02-24 01:10] ConeyLiu commented on #74
Hi @yanivg10, it is just the exception print. The actual exception has been caught, you can ignore it. The ray community is working on fixing it.

[2021-02-24 01:12] ConeyLiu commented on #89
Closes this. You can reopen if has further problems @yanivg10.

[2021-02-24 01:12] #89 closed

[2021-02-25 05:59] Matrix-World opened #94 "model.train() reports an error when running estimator.fit_on_spark(df)"
Thanks to the author's efforts, this is a very good project.
I tried to run the following brief test program.
------------code-------------
import raydp
from raydp.torch import TorchEstimator
#start Spark job on Ray
spark = raydp.init_spark(
  app_name = "example test",
  num_executors = 3,
  executor_cores = 3,
  executor_memory="10GB"
)
##prepare the data
customers =  [(1,'James',21,6), (2, "Liz

[2021-02-25 07:31] ConeyLiu commented on #94
Hi @Matrix-World, which version of ray and raydp are you using? And the exception was raised on `estimator.fit` step?

[2021-02-25 08:28] Matrix-World commented on #94
yes,
ray.__version__ = '1.1.0'
raydp.__version__ = '0.1.1'

[2021-02-25 15:39] ConeyLiu commented on #94
Hi @Matrix-World, this is a bug from ray. I have patched (https://github.com/ray-project/ray/issues/14352) to upstream. Maybe you can take a try.

[2021-02-26 19:54] yanivg10 opened #95 "Resource availability issues"
I am running the PyTorch_nyctaxi example on a node with 80 CPUs, each with 20 physical cores. If I set the number of executors to a number larger than 16 and the number of workers in TorchEstimator to more than 20, the code won't run and I would get resource unavailable errors, such as these ones:

(raylet) terminate called after throwing an instance of 'std::system_error'
(raylet)   what():  Reso

[2021-03-01 05:10] ConeyLiu commented on #95
Hi @yanivg10, you mean you have a cluster with 20 workers and each worker has 80 cores? The raydp will occupy `num_executors * executor_cores` cpus on the cluster.

So you want to release the spark cluster resources when training model, right?

[2021-03-01 05:31] ConeyLiu commented on #94
@kira-lin, pls help to fix this in raydp too.

[2021-03-02 02:54] Matrix-World commented on #94
I get it, thank you~

[2021-03-02 18:42] yanivg10 commented on #95
My cluster is composed of one node with 80 CPUs, each has 20 cores. But RayDP does not allow me to use more than the following setting (I am getting resource availability errors when increasing num_executors):

num_executors = 16
cores_per_executor = 1
memory_per_executor = "1GB"
spark = raydp.init_spark(app_name, num_executors, cores_per_executor, memory_per_executor)

As for your question, how d

[2021-03-03 09:40] carsonwang commented on #95
@yanivg10 , did you check the Ray dashboard? How many cores did Ray detect after running `ray.init()`? RayDP will create actors based on the parameters you gave to `raydp.init_spark`. It sounds like Ray doesn't have enough resource to meet the requirement.

[2021-03-03 11:06] #94 closed

[2021-03-05 19:38] yanivg10 commented on #95
Thanks. I was able to find a configuration that uses my resources correctly without throwing errors.

Now I want to run RayDP on a cluster of multiple nodes. Do you have instructions on configuring RayDP on multiple nodes?

[2021-03-05 20:01] yanivg10 opened #98 "A bug fix in the NYC Taxi Fare Prediction example (PyTorch)"
To run the NYC Taxi Fare Prediction using PyTorch example, 'x.squeeze(1)' need to be changed to 'return x' (in the NYC model definition). I'm using PyTorch version 1.4.0.

[2021-03-07 12:19] ConeyLiu commented on #95
You can refer to https://docs.ray.io/en/master/cluster/quickstart.html

[2021-03-07 12:20] ConeyLiu commented on #98
Hi @kira-lin, could you take a look?

[2021-03-08 08:46] kira-lin commented on #98
@ConeyLiu  Yes, I verified it with PyTorch version 1.7.1. With `return x.squeeze(1)` , we will have error after 30 epoches

  File "python/ray/_raylet.pyx", line 480, in ray._raylet.execute_task
  File "python/ray/_raylet.pyx", line 432, in ray._raylet.execute_task.function_executor
  File "/home/lzhi/.pyenv/versions/raydp/lib/python3.8/site-packages/ray/util/sgd/torch/torch_runner.py", line 155,

[2021-03-09 21:20] vmagdin opened #100 "SLF4J: Class path contains multiple SLF4J bindings"
It seems like there are multiple versions of SLF4J coming from Ray and PySpark, which lead to the following error being shown:

[code]

I'm using raydp in conjunction with the sparkmonitor project, which displays a progress bar for spark jobs, and this warning generates a lot of output which pollutes the results. Any suggestions for how to suppress this output or prevent it from happening in the f

[2021-03-10 01:05] ConeyLiu commented on #100
Hi @vmagdin, the problem has been fixed in the master branch. You may take a try.

[2021-03-10 01:05] ConeyLiu commented on #98
@kira-lin Could you help fixes it?

[2021-03-11 08:21] ConeyLiu commented on #100
Hi @vmagdin, you can try the nightly version `pip install raydp_nightly`.

[2021-03-12 05:48] vmagdin commented on #100
Thanks, that works! Any idea when this will make it to a new release in pypi?

[2021-03-12 06:19] ConeyLiu commented on #100
It should be released by the end of this month.

[2021-03-12 06:19] #100 closed

[2021-03-12 23:27] vmagdin opened #104 "Unable to create nodes in an autoscaling cluster"
Hi there! I'm trying to figure out how to put together a proper Spark config in an auto-scaling cluster.

I'm trying something very simple:
[code]

I'm running this with an autoscaling config that starts with a single m4.16xlarge node (64 cores, 160GB RAM) and can auto-scale a few more worker nodes. However, I'm seeing the following error from the autoscaler:

[code]

I guess I have 2 questions ab

[2021-03-13 08:52] ConeyLiu commented on #104
Hi @vmagdin

Here, the 20 means 20 memory units, the memory unit is `50 MB` in ray.

The reason is ray can not auto-detect the memory resources if you do not specify in the yaml file. I have submitted the patch to ray upstream(https://github.com/ray-project/ray/pull/14567). There are two ways to work around this:
  1. Specified the `min_workers` to your expected one.
  2. Specified the `memory` in

[2021-03-14 01:02] ConeyLiu opened #107 "Add timeout for UT"

[2021-03-15 19:34] vmagdin commented on #104
Ok, thanks for the explanation!

I went with the 2nd option and specified `memory`:

[code]

And it looks like Ray is able to add machines of this type. However, there seems to be an error that's preventing jobs from actually running:

[code]

This error came from calling the following code:
[code]

[2021-03-16 00:55] ConeyLiu commented on #104
Hi @vmagdin, I am sorry for my mistake. I have reverted the problematic pr. The latest `raydp-nightly` should be OK now.

[2021-03-16 05:21] vmagdin commented on #104
No worries, I pulled the latest from master and built it. It fixed the error I was seeing in the logs. However, I'm still not able to scale things out beyond the head node.

My request for a certain kind of Spark cluster now triggers the autoscaler. For example, the following config

[code]

Results in the following cluster state:

[code]

However, in none of my Spark jobs do I ever see the num co

[2021-03-16 06:21] ConeyLiu commented on #104
Hi @vmagdin,

Do you mean all executors are running on the head node when the `num_executor` is smaller than 12? And ray requests an extra node when the `num_executor` is 16?

It does not trigger auto-scaling when the head node resources could satisfy the request, eg: 12 * 5 < 64. So all the executors will run on the head node. It needs to start up a new node when the remaining resources can not s

[2021-03-16 14:18] vmagdin commented on #104
It seems to be the opposite. All the executors seem to be running on the head node even when num_executors > 12. In my example above, the following is happening:
* I request 16 executors * 5 cores =80 CPUs
* My head node has 64 cores, so the autoscaler spins up additional nodes
* The correct CPU usage (80 cores) seems to be reflected in `ray status` -- `80.0/224.0 CPU`
* __However__, according to

[2021-03-17 01:21] ConeyLiu commented on #104
OK, it seems like the ray spark actor has started up while the spark executor is not registered with the spark driver. Are there any logs that show the timeout exceptions?

What happens when you set the min_worker to 1 in this case?

[2021-03-17 16:59] vmagdin commented on #104
I realized I was doing something silly .. I wasn't installing RayDP on worker nodes :)

I'm now seeing executors on worker nodes.

[2021-03-17 16:59] #104 closed

[2021-03-17 17:05] vmagdin opened #110 "Accessing files in S3 with Spark's S3A connector"
Hi there,

I'm trying to use RayDP on an EC2 Ray cluster. It took me some time to figure out how to access S3 correctly. The solution involved downloading a custom version of Spark (with Hadoop 3), and then downloading some AWS jars:

[code]

As a result of this, I am able to use the S3A connector to do things like `spark.read.parquet("s3a://.....")`. This connector automatically figures credentia

[2021-03-18 00:37] ConeyLiu commented on #110
Have you tried this: https://medium.com/@bogdan.cojocar/how-to-read-json-files-from-s3-using-pyspark-and-the-jupyter-notebook-275dcb27e124 ?

[2021-03-22 11:47] guykhazma opened #111 "Support for spark.jars.packages parameter"
Hi,

I am trying to specify custom jars in the spark init using the `spark.jars.packages` for example:
[code]

The jar is download but seems that it isn't propagated to the driver/executer class path so I get class `java.lang.ClassNotFoundException`

if I use `spark.jars` with a local jar then things work fine.

Have you seen the same behaviour?

[2021-03-23 03:34] ConeyLiu commented on #111
Hi @guykhazma, have you tried set `spark.driver.extraClassPath` and `spark.executor.extraClassPath`?

[2021-03-23 05:24] guykhazma commented on #111
Hi @ConeyLiu ,

when using `spark.jars.packages` spark downloads the jars to some temporary folder and then set it in the driver and executer class path automatically.
I can't set `spark.driver.extraClassPath` and `spark.executor.extraClassPath` because I don't know upfront where will be the location that the jars will be downloaded to.

[2021-03-23 06:22] ConeyLiu commented on #111
Hi @guykhazma, resolving the package dependencies should be processed by `spark-submit --packages ..`. Can you verify the jar has been downloaded? Are there any logs you find in?

[2021-03-23 06:38] guykhazma commented on #111
@ConeyLiu Yes, the jar is downloaded but seems that it is not updated in the class path.
For example this log:
[code]

And then I get this error:
[code]
 It can be that only the executer doesn't have the jars in the class path.

If I place the jars in the image and use `spark.jars` config then it works fine.

[2021-03-23 06:52] ConeyLiu commented on #111
Could you try the following:
[code]

[2021-03-23 06:57] guykhazma commented on #111
it doesn't recognize `ivy` as a filesystem:
[code]

[2021-03-23 07:19] ConeyLiu commented on #111
Could you run this on other cluster managers? I just read the code, the resolved jar will be spread out to the executors automatically.

[2021-03-23 07:26] guykhazma commented on #111
It should resolve automatically to all executers.
It remember it worked in the past for Kubernetes. I can try that again in a few days.

[2021-03-25 09:08] cs201503 opened #114 "Py4JJavaError"
Hi,
while trying out the example "Titanic survival prediction with RayDp", I ran into the following problem when running the step:

`app_name = "Titanic survival prediction with RayDp"
num_executors = 2
cores_per_executor = 1
memory_per_executor = "1GB"
spark = raydp.init_spark(app_name, num_executors, cores_per_executor, memory_per_executor)`

[code]
I checked the closed issues before, and I alre

[2021-03-26 00:56] kira-lin commented on #114
Hi,
It seems like you don't have python installed. Maybe you only have python3, but no python? In that case you can try create a symbolic link.

[2021-03-26 11:16] cs201503 commented on #114
Hi Kira,
thank you. I have created the link. It seems to be solved.

[2021-03-26 11:16] #114 closed

[2021-04-01 01:49] HongW2019 opened #117 "[SDLe]Vulnerabilities found during SDLe"
1.	Bump com.fasterxml.jackson.core:jackson-databind version.
2.	Bump org.glassfish.jersey.core:jersey-server version.
3.	Specify the Scala version.
![image](https://user-images.githubusercontent.com/30172512/113232303-7bedce00-92cf-11eb-963c-77bd353e371b.png)
![image](https://user-images.githubusercontent.com/30172512/113232316-7f815500-92cf-11eb-9e36-723add7cc515.png)
![image](https://user-images

[2021-04-01 04:50] vmagdin commented on #110
Thanks for the link! I ended up solving the problem by explicitly setting the `IamInstanceProfile` field in the cluster YAML file for worker nodes. It's not ideal, but in my case I also needed to access S3 during worker node creation, so I went with this solution to deal with both issues.

[2021-04-01 04:50] #110 closed

[2021-04-01 04:53] vmagdin opened #119 "Having worker nodes specific for Spark jobs"
Hi there, I am continuing to enjoy using this project, it's great!

I wish to have a heterogeneous clusters where I have some GPU worker nodes, a few CPU-heavy worker nodes for HPO jobs, and many smaller instances for Spark jobs. I know that it's possible to declare custom resource markers on nodes in Ray. However, I don't think I see a way to get raydp to request those custom resources. Am I miss

[2021-04-01 07:46] kira-lin commented on #117
Thanks, closing issue.

[2021-04-01 07:46] #117 closed

[2021-04-01 08:07] kira-lin opened #121 "Spark 3.1.0+ not compatible"
Setting spark version to 3.1.0+ in `pom.xml` of core will result in this:
[code]
@ConeyLiu

[2021-04-01 09:09] ConeyLiu commented on #119
Do you want the spark executor to request those custom resources?

[2021-04-01 09:11] ConeyLiu commented on #121
It seems like spark 3.1.0 and above have changed the `CoarseGrainedSchedulerBackend` interface. We should limit the pyspark version.

[2021-04-01 09:31] kira-lin commented on #121
Yes, I've submitted a pr to revert it.

[2021-04-01 09:38] carsonwang commented on #121
If we just build our jar with Spark 3.0.0 but run it with pyspark 3.1, does it work?

[2021-04-01 09:43] kira-lin commented on #121
It actually works. We've been doing this in CI for a few days.

[2021-04-02 01:12] carsonwang commented on #119
Spark supports [custom resource scheduling](https://spark.apache.org/docs/latest/configuration.html#custom-resource-scheduling-and-configuration-overview), we can request custom resources for the executor(s) using configuration spark.executor.resource.{resourceName}.amount. What we need to do is pass these resource requirement to Ray.

[2021-04-04 22:25] Hoeze opened #124 "conda-forge package?"
Hi, are there any plans to automatically publish conda-forge packages beside of pip packages?

[2021-04-05 13:02] ConeyLiu commented on #124
Not yet, you could use the pip under the conda env right now. We will add it later, but with low priority.

[2021-04-06 08:48] Hoeze commented on #124
Thanks @ConeyLiu :)

Please do not underrate the value of having a conda package.
Otherwise it's a problem to get stable conda envs, especially in conjunction with complex dependencies like PySpark.

[2021-04-07 06:46] ConeyLiu commented on #124
Sure, thanks for your interest. We should do it, but we have limited resources. It should be added later.

[2021-04-07 12:11] SnehaHegde24 opened #129 "RayDP : Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources"
Hi ,

First of all thanks for this  implementation which is of great use .

I am a beginner to this ,  facing below issue  when i am trying to execute raydp on minikube with cpu 10 and memory 10GB

 **Is there any explict memory that needs to be set , because for any action execution in spark i get the following issue**
21/04/07 05:02:09 WARN TaskSchedulerImpl: Initial job has not accepted any res

[2021-04-07 22:59] Jeffwan opened #130 "Failed to create RayClusterMaster since global worker doesn't have node attr"
### Problem

I submit a simple spark example to RayCluster on Kubernetes and meet this problem.

[code]

Looks like `ray.worker.global_worker.node` return `None` and `_set_properties` failed afterwards.

https://github.com/oap-project/raydp/blob/91f48c9279cf1dc9f2740932f5664ceed0118759/python/raydp/spark/ray_cluster_master.py#L141

I am new to ray and not sure if this is a RayDP issue or Ray envir

[2021-04-08 01:13] ConeyLiu commented on #130
Hi @Jeffwan, it seems like you connect to the ray cluster with ray client. What happens with the following code?

[code]

[2021-04-08 01:15] ConeyLiu commented on #129
Hi @SnehaHegde24, which version of ray and raydp are you using? And can you show me how you submit your job?

[2021-04-08 02:45] Jeffwan commented on #130
Thanks @ConeyLiu  I tried your example and see following issues.  `details = "Exception iterating responses: No module named 'raydp'"`  The image for ray workers in my kubernetes cluster does have `raydp` package.   Do you have any insight?

[code]

[2021-04-08 03:11] ConeyLiu commented on #130
Your image `seedjeffwan/ray:0.1` has not installed raydp. I think you could have two choices:

1.  Add the raydp into the image, the image should provide the java environments as well.
2. Build the raydp image following the step https://github.com/oap-project/raydp/tree/master/docker

The latest released ray can not scheduler tasks with memory requirements on k8s. We have fixed it in the master br

[2021-04-08 21:33] Jeffwan commented on #130
@ConeyLiu Thanks. I actually forget to update my head pod images.

1. Seems `ray client` is not working as expected. I change to `ray.init(address="auto")` and run the application inside head pod on kubernetes and it's running but still has following error. Looks like it's java runtime related. Do you have recommended java version?  I am using `openjdk 11.0.10 2021-01-19`

[code]

[2021-04-08 22:29] Jeffwan opened #131 "Java runtime compatibility"
I am playing raydp inside head pod on k8s.

[code]

Ray environment is correct, however, it encounter some issues when I use raydp.
**Seems Java run time is not compatible with current ray**.

Java Version:  openjdk 11.0.10 2021-01-19
Ray Cluster: 2.0.0-dev
Raydp: 0.2.0

[code]

action doesn't get any resources. It keeps waiting here. I can confirm that my cluster has enough resources. I think thi

[2021-04-09 00:15] ConeyLiu commented on #130
The autoscaler is not supported with memory request scaling. You can ignore it if you don't use autoscaler. And the master branch should work now.

There are some changes in internal in the master branch, such as here https://github.com/oap-project/raydp/pull/106/files. We have not supported the latest code because it has not been released.

[2021-04-09 01:58] ConeyLiu commented on #131
Hi @kira-lin, could you take a look at this?

[2021-04-09 02:23] kira-lin commented on #131
Hi @Jeffwan , you are using Ray 2.0.0-dev, but as you see raydp is not compatible with it. `setJvmOptions` is changed to accept List of String instead of String in 2.0.0-dev, that's why you are seeing this exception. Therefore raydp failed to start executors, and the spark job hangs.
Is it possible to use Ray 1.2.0 for your cluster? That is the simplest way to solve this issue.
Thanks

[2021-04-09 04:14] Jeffwan commented on #131
@kira-lin
Thanks for the heads up. I updated my stack to 1.2.0 and it works fine. You save my day! :D

[2021-04-09 04:14] #131 closed

[2021-04-09 04:37] Jeffwan commented on #130
@ConeyLiu Thanks for your help! I switch to 1.2.0 and it's working properly.

[2021-04-09 04:37] #130 closed

[2021-04-09 08:16] SnehaHegde24 commented on #129
Hi @ConeyLiu  ,

Ray version : 1.2.0

RayDP version : latest
![image](https://user-images.githubusercontent.com/16030241/114133829-4a56b180-9924-11eb-819e-57a523fb378b.png)

I have created a yaml file to submit job referring to docker container containing  the following in the image
ray image + raydp + java(15)

And job has this memory reference explicitly 👍
![image](https://user-images.githubuser

[2021-04-10 14:38] guykhazma commented on #111
closing this for now as I am including the jar as part of the image.
If this will be relevant again I will reopen the issue

[2021-04-10 14:38] #111 closed

[2021-04-12 05:19] ConeyLiu commented on #129
Do you use ray autoscaler?  Could you show your tried code?

[2021-04-13 05:56] Jeffwan commented on #131
@kira-lin Is there a master version wheel available with ray 2.0.0-dev?  I found 1.2.0 is problematic and I really like to use latest version to be compatible with other frameworks.

[2021-04-13 06:43] kira-lin commented on #131
Unfortunately no, we do not support 2.0.0-dev for now, since it's not a stable release. We'll consider add support for it soon.

[2021-04-15 05:40] carsonwang opened #134 "Upgrade to Ray 1.3"
We can create and maintain a branch to support Ray 2.0.0-dev.  Ray 2.0.0-dev java package is not available in Maven so users need to build Ray before building RayDP.

[2021-04-15 23:47] valiantljk opened #135 "not stable when using ray client mode"
I'm using raydp in ray's client mode, trying to submit a raydp operation with ray.remote,
it works during the initial test, but when I re-run this code, it doesn't print anything, which seems failed quitely.

[code]

[2021-04-16 00:13] valiantljk commented on #135
Example error messages are like:
[code]

[2021-04-16 00:15] valiantljk commented on #135
Very often, it just doesn't print anything.

[2021-04-16 00:19] valiantljk commented on #135
not sure the issue is from raydp or ray, sometimes i also see the following errors:
[code]

[2021-04-16 00:31] valiantljk commented on #135
after running the code on ray head with out using ray.util.connect, and not use ray.remote to submit raydp op,
it seems my code has some issue in accessing hdfs,
[code]

This means, once there is an error, ray or raydp didn't capture it well or handle it well, this makes us hard to debug on the client side,

[2021-04-16 00:35] carsonwang commented on #134
Just got feedback that Ray 1.3 will be released soon and we can just upgrade to 1.3.

[2021-04-19 08:57] carsonwang opened #136 "Add RayMLDataset to create MLDataset from Spark Dataframe"
We can add RayMLDataset to simplify how to create MLDataset from a Spark dataframe. For example: `torch_ds = RayMLDataset(spark_df, ...).to_torch(…)`
We may keep create_ml_dataset_from_spark for compatibility.

[2021-04-19 12:39] ConeyLiu commented on #135
It seems like the error message not forward well by the ray client?

[2021-04-21 02:39] kira-lin commented on #131
Hi @Jeffwan , I have created a new branch which supports Ray nightly. You can try it if you still want to use 2.0.0.

[2021-04-27 10:48] ConeyLiu opened #140 "Spark executor memory is not set correctly"
[code]

with jinfo:
[code]

The `-XX:MaxHeapSize=32210157568` is not correctly. It seems like the ray java actor has not set the VM flags correctly.

[2021-04-28 07:02] #140 closed

[2021-04-28 08:00] #136 closed

[2021-04-29 14:32] hglyou opened #144 "Raydp package is not installed on ray:1.3.0 image"
Hi,

I'm trying to use raydp with Ray client mode and I found the below issue as a guide.
https://github.com/oap-project/raydp/issues/130

The issue suggests I should instantiate SparkSession within Ray worker's context, but as I tried it, an error occurred telling me that raydp is not installed on worker nodes.

Is this intended? Should I install raydp pacakges on all Ray worker nodes?

[2021-04-30 02:33] ConeyLiu commented on #144
Yes, you need to install it. `ray:1.3.0` is an image for the ray not include other libraries.

[2021-04-30 04:50] hglyou commented on #144
Thank you for answering!

[2021-04-30 04:50] #144 closed

[2021-05-03 14:09] hglyou commented on #135
I'm experiencing the same issue here.
Below is logs from worker nodes
`	Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/home/ray/anaconda3/lib/python3.7/site-packages/py4j/java_gateway.py", line 1207, in send_command
    raise Py4

[2021-05-06 01:28] #134 closed

[2021-05-24 07:38] kira-lin opened #148 "External shuffle service cannot be used when using raydp-submit"
Specifying spark.shuffle.service.enabled=true in raydp-submit will stuck.

[2021-05-31 07:17] carsonwang commented on #148
resolved by #149

[2021-05-31 07:17] #148 closed

[2021-06-03 07:40] zuston opened #150 "Support Spark application web UI"
Thanks for the great work!

When i try to run spark wordcout programming with raydp, i can't find the Spark application web ui.
Doesn't it support spark web ui yet?

[2021-06-03 08:21] kira-lin commented on #150
Hi,
WebUI should be working after you run `raydp.init_spark`. By default it is at localhost:4040. Can you run
[code]
in REPL, and check if WebUI is up in your browser before your call `spark.shutdown()`?
Thanks

[2021-06-03 08:53] zuston commented on #150
Thanks for your quick reply. It works! @kira-lin
Besides it's better to print the web ui url in the client output.
Maybe i can submit first PR to support it.

[2021-06-03 18:52] jdortuzar5 commented on #129
Hello, I'm also running into this issue. The thing is that I'm trying to run it locally, do you have any tips or advice?

[2021-06-04 00:52] ConeyLiu commented on #129
Hi @jdortuzar5, could you provide more details? Such as ray version, raydp version, the code you tried?

[2021-06-04 01:19] kira-lin commented on #150
Spark will print it in its log as 'INFO'. By default logLevel is 'WARN', so you did not see it.

[2021-06-04 01:49] zuston commented on #150
Thanks!
We have a scenario that we need to use both Spark and TensorFlow for iterative training on Ray.
Hence we want to use raydp online, and would like to ask if raydp is used in online environments at scale?

[2021-06-04 02:16] carsonwang commented on #150
@zuston , this sounds like a very good scenario that fits RayDP usage. A few other users are currently also working on evaluating RayDP and integrating it in their use cases. The scalability should not be a problem as Spark on Ray still uses Spark's own communication protocol. We can work together for any issues/requests you may have.
Can you also share a little more about your scenario? Are you u

[2021-06-04 03:15] zuston commented on #150
@carsonwang Thanks.

Scenario:
tensorflow training -> spark etl embedding -> tensorflow training -> spark etl embedding

So it will like as follows:
[code]

Because of reusing the users' tf estimator code, we will run tf training on Ray with custom mode not using RaySGD, which will build tensorflow cluster for training.
And then to reuse the existing ML system, ray will be launched on Yarn by link

[2021-06-04 05:26] carsonwang commented on #150
Thanks for the information! Sounds great! We are also working with the Ray community to better support Ray on Yarn. Will also take a look at the linkedin/TonY option as you mentioned.

[2021-06-04 05:58] zuston commented on #150
Wow.
Maybe we could have a talk about it. RayDP has slack group?

[2021-06-04 06:37] carsonwang commented on #150
@zuston , I created a channel in Ray slack for discussion and sent an invitation to your email. Please see if you receive it. Otherwise please try to join the Ray slack first.

[2021-06-04 08:08] zuston commented on #150
Done. Thanks @carsonwang

[2021-06-04 13:55] jdortuzar5 commented on #129
@ConeyLiu I'm using Ray 1.3.0, RayDP 0.2.0, PySpark 3.0.2. I'm trying to load a simple CSV file locally, here is the code I'm using:
[code]
I believe my problem comes from the Java configuration, to make sure, I'm using the docker image to run the same code. But any help is more than welcome.

[2021-06-05 00:07] #150 closed

[2021-06-05 18:04] jdortuzar5 commented on #129
I've manage to run the script inside a docker container, so the issue was in fact my Java configuration. Thanks for the help!

[2021-06-06 07:47] ConeyLiu commented on #129
thanks for the feedback.

[2021-06-06 07:47] #129 closed

[2021-06-15 03:25] gcz2022 opened #158 "Add a link to Spark Summit videos & blogs to help understanding this project"
^_^

[2021-07-07 15:52] klwuibm opened #164 "Can I use spark.createDataFrame() with a list of ObjectRef from various remote Ray workers?"
I am trying to see if I can create a Spark DataFrame with a list of ObjectRef from several remote Ray tasks that have put large objects into their local plasma stores.  I know that Spark can take a Pandas dataframe and turn it into a Spark dataframe.  However, I don't want the Spark driver to collect all the large objects from various Ray workers in remote nodes, because it can easily cause the Sp

[2021-07-08 03:13] ConeyLiu commented on #164
Hi @klwuibm, the feature is not supported yet. @kira-lin  is working to support it.

[2021-07-09 02:57] kira-lin commented on #164
You might want to take a look at `ray.experiment.data`, to which we are currently adding support. But it requires ray-nightly, so for now you can probably use our MLDataset. You need to use `ray.cloudpickle.dumps(obj_ref)` when you want to put it into a dataframe, and `ray.cloudpickle.loads` before you `ray.get`. Besides, things returned from `create_small_datataframe.remote()` is a ref to a ref t

[2021-07-09 14:07] klwuibm commented on #164
@kira-lin thanks for the comments.  I wonder if you could clarify two questions.  (1) Is there any connection between MLDataset and ray.cloudpickle.dumps()? I assume they are not related.  (2) Your suggestion of serializing `obj_ref `with `ray.cloudpickle.dumps()` before calling `spark.createDataFrame()`, do you mean that I store the Pandas dataframe created by a remote task onto a file on disk?

[2021-07-10 06:13] kira-lin commented on #164
1. yes they are not related. I was just suggesting maybe you can try our MLDataset, or if you want to solve the problem, you should use cloudpickle
2. No, `cloudpickle.dumps` just serialize the reference and returns a binary bytes object. Then you can store it in the dataframe, with schema binary type. `cloudpickle.loads` loads a  reference from the binary bytes, that's how you can use ray.get to

[2021-07-12 13:35] klwuibm commented on #164
@kira-lin Thanks very much.  Appreciated the help.  Here is what I did, but still not working as I expected.

[code]
The error messages are:

[code]

[2021-07-13 01:18] kira-lin commented on #164
What you want to do is probably this:
[code]
What do you want to do with this dataframe? You can check out this PR #166 since it's very similar.

[2021-07-13 13:02] klwuibm commented on #164
@kira-lin thanks very much.  I will take a look at the [#166 ](https://github.com/oap-project/raydp/pull/166) PR.  The idea is to pass various `Pandas dataframes` (created by remote functions) via `ObjectRef` to `Spark dataframe` without moving large chunks of the data from various worker nodes to the driver node in order for the driver to execute `spark.createDataFrame()`.  If the data is large,

[2021-07-14 01:36] kira-lin commented on #164
oh yes, I see. Just FYI, in ray-nightly, a feature similar to this is under development, in ray.experimental.data. If you don't need it to be a spark dataframe, you might just use their Ray Dataset, and they have a from_pandas function. You can also use to_spark after you use from_pandas, but to_spark has not been merged yet.

[2021-07-16 21:07] ssiegel95 commented on #131
I'm using a ray container (rayproject/ray:1.4.0-py37) and I see the same error. Is there a workaround available for v1.4?

[code]

[2021-07-19 00:55] kira-lin commented on #131
We have not released new version yet, so the support for Ray 1.4.0 is in raydp-nightly. @ssiegel95 Sorry for inconvenience.

[2021-07-20 20:58] klwuibm commented on #164
@kira-lin Thanks for your help in getting Spark to successfully create a `dataframe` with a list of `serialized objectref`.  After that, I would like to, on the Spark side, get the original `dataframe` by `ray.get(ray.cloudpickle.loads())`.  Here is what I am trying to do after  `sdf = spark.createDataFrame(obj_refs, schema)`, but I ran into some difficulties.  Any help would be greatly appreciate

[2021-07-21 01:18] kira-lin commented on #164
The python function in `flatMap` is performed by pyspark workers, and these are not controlled by raydp. Therefore, these processes are not connected to ray, hence the exception. You need to connect to ray by `ray.client().connect` or `ray.init(address='auto')` before you use `ray.get` in the function.

Besides, if you see many `connecting to ray` after you do so, just disable it by setting loglev

[2021-07-21 17:38] klwuibm commented on #164
@kira-lin I think the problem is that an executor of PySpark doesn't have access to Ray, even if I do another `ray.init(address='auto', ignore_rayinit_error = True) `before

`myrdd = sdf.rdd.flatMap(lambda x: ray.get(ray.cloudpickle.loads(x['Pandas_df_ref']))).  `

It fails again on the next step:

`mydf = myrdd.toDF(['column-1', 'column-2', 'column-3', 'column-4'])`

I think due to lazy evaluatio

[2021-07-22 01:50] kira-lin commented on #164
Have you tried this:
[code]

A normal process can access ray if it connects to the ray cluster by `ray.init` or `ray.client().connect()`. In RayDP, spark executor in java is spawned as a ray actor process, thus it can access ray. But for spark python executors, we did not do the same thing. We'll consider whether to add this feature.

[2021-07-22 15:18] klwuibm commented on #164
@kira-lin Many thanks again.  I tried your suggestion of initiating `ray `in the `map_func()`.  I had to add a `return()` to the `map_func()`, however.  Here is what I did:

[code]
However, I found that the original Pandas `dataframe` didn't seem to be returned back to the `RDD `by the `flatMap()` function.  I try to print out what is in `myrdd`.  It seems weird.  Here are what I got.

[code]

[2021-07-23 01:34] kira-lin commented on #164
You can try to use `sdf.mapInPandas` instead of rdd flatmap. Here is a [doc](https://spark.apache.org/docs/latest/api/python/user_guide/arrow_pandas.html). This step is quite similar to the `to_spark` function in the previously mentioned PR(arrow table and pandas dataframe are convertible), you can refer to it.

[2021-07-23 14:48] klwuibm commented on #164
Here is what I tried:

[code]
And here is what I got:

[code]

[2021-07-26 01:28] kira-lin commented on #164
Notice that `x` passed to `map_func` would be a iterator of pandas dataframe. If not clear, please search `mapInPandas`  in the [doc](https://spark.apache.org/docs/latest/api/python/user_guide/arrow_pandas.html). The function should look like this one in the PR:

[code]

[2021-07-26 19:58] klwuibm commented on #164
@kira-lin thanks. I think I got it to work in my `map_func()` with the following:

[code]

The only difference is I didn't do `data.to_pands()` as you did.  I think it is because you use `Dataset` as an intermediary, while I put the `Pandas dataframe` into ray by the remote task.  I wonder what implications I might encounter without using `Dataset` as the intermediary.  One potential issue would b

[2021-07-27 02:10] kira-lin commented on #164
I think there is not big difference. We need to use `to_pandas` because the data stored in Ray Dataset is arrow table. If you store pandas dataframe, that would also be fine. As long as the owner of your dataframe in plasma is alive and objects have not gone out of scope, they should be available. For this part you can refer to ray doc.

You are right, it is possible that data would be fetched fro

[2021-07-27 22:46] ssiegel95 opened #168 "java.lang.StackOverflowError upon raydp.init_spark("
Platform: ray autoscaled cluster running on K8S (image is based off of rayproject/ray:1.4.1-py37
raydp: raydp-nightly 2021.7.1.dev0
java version: openjdk version "1.8.0_252"

When trying to run the following code:

[code]

I get the following error:

[code]

Any help would be appreciated, thanks.

[2021-07-28 03:59] carsonwang commented on #168
@ssiegel95 , can you please check if you have Java installed and JAVA_HOME set properly? can you also try to run pyspark to see if you encounter the same error?

[2021-07-28 07:38] YeahNew opened #169 "How do I store the full graph data in the ObjectStore of each node?"
I have been following the progress of RayDP and trying to use it for data processing. But now I use spark= raydp.init_spark(...) to read a large graph data, convert it to DataFrame, and then call create_ml_dataset_from_spark() to store it in the ObjectStore. My ray cluster has three nodes. I want to store one copy of the full image data in the ObjectStore of each node. So I executed the above meth

[2021-07-28 08:27] kira-lin commented on #169
Hi, glad you tried raydp.

Ray's object store is shared among nodes. By calling our `create_ml_dataset_from_spark`, you create a `MLDataset`, which is partitioned. That means your data is probably distibuted across nodes. Why do you want the full graph data available on each node? What do you want to do in the next step? In ray, you can always refer to the data you put in object store in a remote

[2021-07-28 10:12] YeahNew commented on #169
I hope to use RaySGD to start three deep learning training processes (Actors) on each machine. Each process can directly obtain full image data from the local ObjectStore for sampling training, thereby avoiding pulling data from other nodes and causing network transmission overhead. .

[2021-07-28 13:22] ssiegel95 commented on #168
@carsonwang Thanks for the reply. Below please find three checks:

1. confirming `JAVA_HOME` is defined and pointing to a valid directory
2. confirming pyspark works and default spark context (local mode) is valid
3. trying to create a spark context using raydp.init_spark (which fails with a different signature as I reported above)

Note that this is on kubernetes with a ray autoscaled cluster ins

[2021-07-28 13:37] ssiegel95 commented on #168
Not sure of this is relevant but my min_workers at is set to zero and when I tried this, there were no worker pods running yet. I'm only mentioning this because I recall seeing in some raydp issue in the past that there was an issue when an autoscaled cluster used `min_workers: 0`.

[2021-07-29 01:51] kira-lin commented on #169
Is it a GNN application? Like each node needs a full graph, but node/edge features can be partitioned? Anyway I guess you can save the graph to parquet fist, and copy it to the same path on each node. Then use our `from_parquet` to load it on each node in remote task, then return the loaded data(as objectref).  Finally, use this in actors on each node.

[2021-07-29 13:26] carsonwang commented on #168
It seems this is related to a bug in scala. But not sure when this could happen. I've upgraded scala to 2.12.14. please see if the new nightly release will fix the issue. Otherwise if you can share how you built your image and help us reproduce the issue, we'll further look into it.

[2021-07-29 15:29] ssiegel95 commented on #168
Thanks Carson. After installing the latest nightly release I see an error identical to my original one, namely:

[code]

I'm attaching a zip archive with a Dockerfile and a trivial test script that can be used to recreate the issue.
[code]
[issue168.zip](https://github.com/oap-project/raydp/files/6901673/issue168.zip)

[2021-07-29 15:45] carsonwang commented on #168
@ssiegel95 I forgot to mention the new nightly release is still not available yet. It will be uploaded automatically every day if there are new commit. Anyway, I'll take a look at your file.

[2021-07-30 11:34] YeahNew commented on #169
Hello, thank you very much. there is my python file.
https://github.com/YeahNew/gitdemo/blob/10cc46d8edc835c08604db66351b3bfa3f80fa13/RayDPandDGL.py
I am very surprised that I set num_shards=3 when storing the full graph data into the ObjectStore, but finally can not get all the data through object_ref, only the data of one shard can be obtained. I am very confused, I hope that each trainer under

[2021-07-31 04:38] sparkinglu opened #171 "What are the disadvantages when the data Preprocessing and model training pipelines are integrated via raydp?"
Hello

I am not sure if this is right place to have this question since I do not find other places to ask such questions.

I can see the advantages to integrate them together. However, if the output from data  preprocessing is feed into the model training via ray in-memory object store, the data preprocessing has to be re-run when the model is re-trained in case there are some changes in model alg

[2021-08-02 07:24] kira-lin commented on #169
Hi @YeahNew , I can not find your reply, but I saw it in my mailbox. Have you solved the problem? I think you don't need to use MLDataset for the graph data, because you do not want it partitioned on each node. You probably want to use it to load edge/node feature, of which different part is used in different nodes. For the graph data, if it is only used in the training actor, you don't even need

[2021-08-02 08:45] carsonwang commented on #171
Hi @sparkinglu , you can also persist the Spark processing data to a distributed filesystem using RayDP if that better fits your needs. It depends on your use cases and your organization's strategy. For example if you have data continuously coming in and you need to repeatedly train models on the new data,  usually it is good to have the integrated pipeline and use Ray object store to exchange the

[2021-08-03 09:43] carsonwang commented on #168
@ssiegel95 , I was able to reproduce the issue. It is an issue with Ray 1.4.1. You can use Ray 1.4.0 to bypass the issue for now.

[2021-08-14 03:15] YeahNew commented on #169
@kira-lin
Yes, thank you for your reply, I have solved this problem. Sorry for the busy time and did not reply to you.

Now I have another problem. The embedding I got from model training is in ndarray array format. I need to store it in ObjectStore. But the create_ml_dataset_from_spark method only supports data storage in sql.DataFrame format. Could you provide data storage method by using other

[2021-08-24 07:30] YeahNew opened #172 "How to store other types of data in ObjectStore distributedly ？"
After I use raydp to read the data, I got the data in tensor format after GNN training. Now I want to store it into ObjectStore distributedly, and then I can take it out and combine it with other feature data for logistic regression (Distributed Scikit-learn / Joblib).
But by calling create_ml_dataset_from_spark(), I found that this method only accepts data of type sql.DataFrame. Do I need to conv

[2021-08-24 09:14] YeahNew opened #173 "After updating rayDP, spark = raydp.init_spark() cannot be started"
I update ray[all]==0.1.1 to ray[all]==1.5.0, raydp==0.1.0 to raydp==0.3.0.
After re-running the previous program, it was found that spark could not be started. It is normal to modify it to the original version.
    --------init code--------
    ray.init(address='auto', _redis_password='5241590000000000')

    Edage_data_PATH = args.full_graph_path
    Node_data_PATH = args.full_graph_feat_path

[2021-08-24 09:27] carsonwang commented on #173
@YeahNew , JDK 1.8 is fine. It looks like a version mismatch issue as I saw a `NoSuchMethodError`. Just to check, did you upgrade Ray and RayDP on every node of your cluster?

[2021-08-24 09:44] carsonwang commented on #172
Hi @YeahNew , it seems this is no longer related to Spark. If your data is not in Spark, probably you can directly use Ray's API instead of APIs from RayDP. If you still want to create a MLDataset, you can create a Ray parallel iterator and use Ray MLDataset APIs [from_parallel_it](https://github.com/ray-project/ray/blob/ebc44c3d76d114e6192d697e3715aa73bc66924d/python/ray/util/data/dataset.py#L50)

[2021-08-24 10:23] YeahNew commented on #173
yes，I update every node in my cluster.

[2021-08-24 10:28] YeahNew commented on #172
OK, I get. Yes.
It seems that ray APIs does not provide a method that can directly store data in a distributed manner into the ObjectStore.

[2021-08-24 11:10] YeahNew commented on #173
I have experimented with many versions, only when raydp==0.1.1 ray[all]=1.1.0/1.2.0, the program can run normally, and other version combinations will have various error problems.

[2021-08-25 01:35] kira-lin commented on #173
Hi @YeahNew , the latest stable version of raydp support ray 1.3.0. Ray 1.4.0 changes the signature, that's why you see this message. Have you tried raydp 0.3.0 with Ray 1.3.0? If you want to use newer versions of ray, you can also try our nightly versions.

[2021-08-25 06:08] YeahNew commented on #173
Yes, I tried.

[2021-08-25 06:09] kira-lin commented on #173
What's the error message?

[2021-08-25 09:18] YeahNew commented on #173
when I try raydp 0.3.0 with Ray 1.3.0.
the error message as follows:

-------------message------------
Connected to pydev debugger (build 201.8538.36)
Using backend: pytorch
Current Path: /home/yexin/workSpace/PyCharmWorks/HikVision/rayhik/rayABV2
2021-08-25 17:09:30,123	INFO worker.py:641 -- Connecting to existing Ray cluster at address: 10.3.68.117:9999
Setting default log level to "WARN".
To ad

[2021-08-25 13:51] kira-lin commented on #173
This is weird. I just tried and it works. Just to make sure, did you restart the ray cluster after installing ray 1.3.0? It  complains MalformedJsonException, is there any illegal character in the path?

[2021-08-26 09:17] YeahNew opened #174 "Can you provide support for ray version 1.6.0?"
Recently, I need to use the latest Dataset APIs in ray 1.6.0 version. However, it is found that raydp-nightly only supports ray 1.4.2 version. If I start the ray cluster, I cannot connect to the cluster using raydp.init_spark(). When can raydp support ray 1.6.0?
Thanks~

[2021-08-30 01:25] carsonwang commented on #174
Thanks for the feedback. Ray java 1.6.0 is still not available on maven. We will work with Ray community and then support it in RayDP.

[2021-08-30 07:00] YeahNew commented on #173
@kira-lin
After trying many times, the problem is still the same. there is no illegal character in the path. There is no problem with running ray or pyspark program alone .

[2021-08-30 07:41] carsonwang commented on #173
Confirmed with @YeahNew offline, the error only happens when running in IDE. There is no error if running in command line.

[2021-08-30 08:40] YeahNew commented on #173
Yes, Thank you very much Carson.

[2021-09-03 06:36] chinaboyll opened #175 "when i create initialization twice ray,raydp , An error occurred。"
My version:
Ray Cluster:1.3.0
Raydp:0.3.0
Python: 3.6.4
when i create initialization  twice ray,raydp , An error occurred。
-----------------
Caused by: java.net.BindException: Address already in use (Bind failed)
        at java.net.PlainSocketImpl.socketBind(Native Method)
        at java.net.AbstractPlainSocketImpl.bind(AbstractPlainSocketImpl.java:387)
        at java.net.ServerSocket.bind(Serv

[2021-09-06 01:37] carsonwang commented on #175
You only need to init once. If you see this error, it is because the pervious driver is not closed properly. You can find the Java process ID and kill it.

[2021-09-16 07:52] #121 closed

[2021-09-29 06:58] Second222None opened #181 "raydp.init_spark() failed"
Can anyone help me?
[code]

[code]

[2021-09-29 07:03] kira-lin commented on #181
Hi @Second222None , I notice you are using a quite old version of ray and raydp. Is it possible for you to try latest stable versions? Because pyspark 3.0.3 is not released at that time, it is possible that they are not compatible.

[2021-09-29 07:23] Second222None commented on #181
It doesn't help. The same error with the following versions.
[code]

[2021-09-29 07:47] kira-lin commented on #181
The error message shows that org.apache.spark.internal.Logging is not found when the raydp starts, so it should be a problem with classpath. Is pyspark properly installed? You can try to add `print(classpath)` to the start of `_launch_gateway` function in "/root/anaconda3/lib/python3.8/site-packages/raydp/spark/ray_cluster_master.py". And run again to see what is print.

[2021-09-29 07:53] Second222None commented on #181
It looks like so:
[code]

[2021-09-29 08:29] kira-lin commented on #181
So pyspark's directory is not found. That's the reason for the error, can you please print out the variables in `_prepare_jvm_classpath` similarly to debug the problem? Can pyspark be imported in your program?

[2021-09-29 09:39] Second222None commented on #181
`spark_jars` is empty.
[code]

[2021-09-29 10:06] Second222None commented on #181
Thank you! Problem solved. There is no `jars` in spark  directory, instead , it resides in `anaconda3/lib` directory. I don't remember the installation history very clearly.
[code]

Long-awaited results：
[code]

[2021-09-30 01:58] kira-lin commented on #181
Glad you solve the problem. Post a issue whenever you have a question again.

[2021-09-30 01:58] #181 closed

[2021-10-19 08:48] YeahNew opened #186 "Can rayDP be used for Spark mllib?"
I am very happy to see the application of rayDP in the field of data processing and deep learning, but in many cases the data obtained by deep learning needs to be passed to traditional machine learning algorithms for classification and other operations. The algorithm in Spark mllib can be well modeled based on mini-batch, so can Spark mllib implement classifier modeling based on mini-batch throug

[2021-10-20 08:30] carsonwang commented on #186
Yes, it will be executed in a distributed manner on Ray. After you create a Spark session with RayDP, you will have Spark executor running in different node in the Ray cluster. There is no need to manually setup the Spark cluster. There is no difference for using Spark MLLib when it runs on Ray. Just try any existing Spark MLlib examples from Spark document and feedback if you find something doesn

[2021-10-29 13:15] Second222None opened #189 "Performance Evaluation"
Hi there,

I would like to compare spark and spark with raydp. Is Hibench available？
If not, Is there any other benchmarks that can run on a raydp cluster?
Thanks!

[2021-10-30 07:09] Second222None commented on #76
I run the code above successfully.
How can I check whether Spark is scheduled to multiple nodes?

[2021-11-01 02:03] kira-lin commented on #76
You can check the spark UI at port 4040 to see executors' IP. Or you can check ray's dashboard (default 8265) to see which actor is on which node, etc.

[2021-11-01 06:59] Second222None opened #190 "spark on ray cluster failed"
Ray cluster works and Spark is only deployed on the master node. When the task is scheduled to the master node, everything is right. When the task is scheduled to the worker node, an error occurred. Details are as follows. Can anyone give me some instructions? Thanks!
[code]

Run the following code:
[code]
The following error occured:
[code]

[2021-11-01 07:09] carsonwang commented on #190
You need pySpark and Java installed on every node. If you are using conda, please make sure the same environment is available on every node.

[2021-11-01 07:53] Second222None commented on #190
I checked my worker node environment.
[code]
Just now, I have deployed Spark on the worker node and I can create a Spark session successfully using the following code.
[code]
The information on dashboard is also correct.
![image](https://user-images.githubusercontent.com/24448002/139639368-016cbe23-443c-46ec-8edd-f63e0cbf2eec.png)

[2021-11-01 08:32] kira-lin commented on #190
Is the problem solved? What do you mean by deploy spark?

[2021-11-01 08:42] Second222None commented on #190
I'm not sure if I need a Spark cluster. But a Spark cluster does not help. The same error.

[2021-11-01 08:54] kira-lin commented on #190
You do not need a traditional Spark cluster. When you run raydp.init_spark, executors will be started as actors in the ray cluster. If the ray cluster contains multuple nodes, then executors are probably distributed among these nodes, This is controlled by ray. When does the program fails, and when does it work? Can you please check if it works when you directly run raydp.init_spark in command lin

[2021-11-01 09:03] Second222None commented on #190
It seems to be nothing wrong.
On master node:
[code]

On worker node:
[code]

[2021-11-01 09:14] kira-lin commented on #190
Okay. You can try to specify which node to run the actor by following:
[code]
And see when does it fail. I just tried it in my cluster, and it works on all nodes. BTW, if it still fails, maybe you can first try our 0.4.0 version, which is going to release soon.

[2021-11-01 09:31] Second222None commented on #190
When `raydp.init_spark` is scheduled to the remote node, it failed.

I can see the first print result("before init_spart") and then the error information.

[code]

[2021-11-02 03:27] kira-lin commented on #190
Did you install pyspark via pip? Or did you have only spark binary installation on both nodes?

[2021-11-03 00:24] Second222None commented on #190
Yes, I installed **ray-1.3.0**, **raydp-0.3.0**, and **pyspark-3.0.3** via pip on both nodes. And **spark-3.0.3-bin-hadoop2.7** and **hadoop-3.1.0** is installed on master node.

[2021-11-03 01:15] kira-lin commented on #190
I see. In the error message, it shows the spark binary location, which is not on the worker. On master, in the environment you call raydp.init_spark, if you import pyspark, what is pyspark.__file__? I guess it points to the binary installation. Can you try to make this point to the same location on the two nodes? That should solve the problem.

[2021-11-03 03:31] Second222None commented on #190
You are right. By default, **Spark** uses the pyspark in its own path on master node. On the worker node, there is  no **Spark** installed.
Now I remove **Spark** on the master node.  On both nodes, **pyspark.__file__** points to **/root/anaconda3/lib/python3.8/site-packages/pyspark/__init__.py** .
On both nodes, the following code runs successfully:
[code]
But the code I mentioned above reports t

[2021-11-03 05:47] kira-lin commented on #190
Can you be more specific on what causes core dump? Which line of code? By the way, are you using raydp 0.3.0? We have released raydp 0.4.0 yesterday, and please use ray 1.7.0 with raydp 0.4.0, not ray 1.8.0 which is released this morning.

[2021-11-04 11:58] Second222None commented on #190
Problem solved with **ray-1.7.0** and **raydp-0.4.0**.
Thank you!
[code]

[2021-11-08 08:19] Second222None opened #194 "WordCount on RayDP"
How to write a **wordcount** test based on HDFS? The following code doesn't work.

[code]

[2021-11-08 08:46] carsonwang commented on #194
`raydp.init_spark` returns a SparkSession instead of a SparkContext. You can use `spark.read.text` API, for example
[code]

[2021-11-08 08:47] #190 closed

[2021-11-08 08:52] Second222None commented on #194
Are there instructions for using the raydp API?

[2021-11-08 08:52] carsonwang commented on #189
We used to run some shuffle heavy workloads using RayDP and it showed no performance difference comparing with Spark on Yarn or standalone. Once Spark executors are started, they communicate with each other using spark's protocols so in theory there should be no difference.
HiBench will not directly work with RayDP and you need to customize it so it can submit jobs to a Ray cluster. I recommend ge

[2021-11-08 08:54] carsonwang commented on #194
You only need to call `raydp.init_spark` to create a SparkSession. After that, just follow pySpark API to write the Spark program. Is there any specific problem you have when calling `raydp.init_spark`?

[2021-11-08 08:57] Second222None commented on #194
Thank you! I see. I have read the content from **hdfs** successfully.
Now I can use it like Spark.

[2021-11-08 14:36] Second222None commented on #189
Our team is working on whether **ray** can help our system.
If not performance, what are the advantages of **raydp**.

[2021-11-08 20:28] rseed42 opened #195 "Can not use raydp with remote clusters"
I am having difficulties making raydp work with a remote cluster. It looks that there is a bug when trying to configure the Spark cluster. It works with `ray.init()` as a local instance, but it does not work with `ray.init(address='ray://xxx.xxx.xxx.xxx:10001')`:

[code]
Package versions are as follows:

- ray==1.8.0

- raydp==1.4.0

Started ray as usual:

[code]

Stepping through the debugger, th

[2021-11-09 01:35] kira-lin commented on #195
Hi, @rseed42 thanks for trying raydp!
Currently, we start a java process on local machine to connect to ray. This does not work if you use ray client. Can you try to put raydp.init_spark in an actor?
Like this:
[code]

[2021-11-09 01:39] kira-lin commented on #195
In addition, please use ray 1.7.0 with raydp 0.4.0.

[2021-11-09 02:14] carsonwang commented on #194
Glad to see it works. I'll close this one. Please feel free to open new issues if you have any question.

[2021-11-09 02:14] #194 closed

[2021-11-09 02:23] carsonwang commented on #189
@Second222None , a typical use case of RayDP is to build an end to end pipeline in a single program instead of stitching multiple programs using glue code. For example you can use Spark to do data processing, Ray Train/Horovod/XGBoost on Ray for training and RayTune for hyper parameter training. All of these can be written in a single program and running on a single platform Ray. Data exchange can

[2021-11-09 11:36] rseed42 commented on #195
@kira-lin Many thanks for your explanation! I tested it and it works fine :). I will try to contribute to the official ray documentation once I get a bit deeper understanding (it was lacking this part in the Spark on Ray section). I think that raydp can potentially be a big argument for the adoption on Ray, so congrats on doing a great job!

[2021-11-09 11:36] #195 closed

[2022-01-04 09:23] Bowen0729 commented on #195
seems like all spark executors will run on single node, what if I want it to schedule executors on multiple nodes?

[2022-01-04 11:44] Bowen0729 opened #199 "Why all spark executors running on a single node in a ray cluster?"
connect to a ray cluster:
ray.init(address = 'ip:6379')

create a spark session on ray:
spark = raydp.init_spark("test",  num_executor=6, executor_memeory='5G')

and all the spark executors(ray actors) are running on single node

I hope that the executors will distributed among all nodes

what should I do?

[2022-01-05 03:57] #186 closed

[2022-01-05 03:58] #174 closed

[2022-01-05 05:36] carsonwang commented on #199
Can you try running `raydp.init_spark` in an actor and does that work? https://github.com/oap-project/raydp/issues/195#issuecomment-963732609

[2022-01-05 05:54] Bowen0729 commented on #199
Thank you for your reply.

I tried, but not worked.

I'm the first time user for ray and raydp, I start ray cluster on yarn, when I run raydp.init_spark, I saw two jobs on ray dashboard, one job contains my SparkRemote actor, the other one contains all spark executors which belong to the same node. and some of them are in 'PENDING_CREATION' state.

[2022-01-05 06:33] carsonwang commented on #199
Does your issue specific to Ray on Yarn or not? How did you run Ray on Yarn, using the existing functionality in Ray or your own implementation? Do other tasks/actors running on multiple nodes correctly?

[2022-01-05 07:47] Bowen0729 commented on #199
**_How did you run Ray on Yarn, using the existing functionality in Ray or your own implementation?_**

I run Ray on Yarn via skein, and my skein config file like this:

name: ray-on-yarn
services:
    ray-head:
        instances: 1
        resources:
            vcores: 10
            memeory: 50GiB
         files:
            environment: my-conda-env.tag.gz
          script: |
              sou

[2022-01-06 11:13] Bowen0729 commented on #199
I test the raydp on native ray cluster, and the executors distributed among all nodes.
It seems like that ray on Yarn has some mistake in my way

[2022-01-06 11:20] Bowen0729 commented on #199
one of the raylet:
Error: Could not find or load main class io.ray.runtime.runner.worker.DefaultWorker

[2022-01-07 01:50] Bowen0729 commented on #199
**_In native ray cluster or ray on yarn_**

On Yarn.

**_When does this error happen?_**

when I run raydp.init_spark, some executors on node1 started well, and other executors on node2 is on PENDING_CREATION state, I think these executors(that is actors) lead to this ERROR.

but When I specify actor on node2, such as this:
@ray.remote(resources={"node:node2": 0.1})
the executors worked well on no

[2022-01-07 02:09] kira-lin commented on #199
We have not tried ray on yarn, so maybe we cannot help. The error means ray cannot find its java runtime, and thus cannot start ray java workers.

This is python workers, right? So the problem is in java part. Can you check the ray logs, and find the error, verify it?

[2022-01-07 05:59] Bowen0729 commented on #199
Thank you for your reply.

I guess I find where is the problem.

executor started via 'java -cp -DClassPath io.ray.runtime.runner.worker.DefaultWorker', and ClassPath is the absolute path, but my ray cluster is on yarn, the file resources on hdfs, they don't have the same absolute path.

such as, raydp.jar is on HADOOP_DATA_DIR/nm/..../CONTAINER_NAME/environment/lib/python3.7/site-packages/raydp/j

[2022-01-07 06:09] kira-lin commented on #199
Yes, that's the problem, and I'm afraid that there is no available solution. AFAIK, Ant tried to run Ray on Yarn before, but that is no longer maintained. You can try in native ray cluster

[2022-01-07 09:59] Bowen0729 commented on #199
I want to set config spark.executor.extraClassPath, but it not effective

[2022-01-09 13:34] Bowen0729 commented on #199
Can I use RayOnSpark to get a ray cluster and then use raydp on this ray cluster? that seems a little wired

[2022-01-10 01:22] kira-lin commented on #199
Because Spark executors run in java worker, but ray fails to start java workers due to classpath. This feature needs to modify ray to be able to read jar in hdfs. This might be possible with new runtime_env, but it is still under development now.

I'm not sure if it is possible...

[2022-01-10 01:44] Bowen0729 commented on #199
OK, thank you. We only have a bigdata cluster without a ray cluster, which bothers me so much

[2022-01-10 02:37] Bowen0729 commented on #199
how can I configure the ray.job.code-search-path, I found it in ray docs

[2022-01-10 05:20] kira-lin commented on #199
Do you want to configure a hdfs path? I don't think hdfs path is going to work. Anyway, you can try it, just provide in the configs in init_spark function.

[2022-01-10 06:10] Bowen0729 commented on #199
I want to Specify the local path for a test.
not worked, I think I should specify the local path in the classpath. Is there any way I can configure the classpath?

[2022-01-10 06:27] kira-lin commented on #199
You would have to modify the python files, add the local path in function `_prepare_jvm_classpath`

[2022-01-10 06:32] Bowen0729 commented on #199
Got it, thank you very much

[2022-01-10 08:26] Bowen0729 commented on #199
Change the classpath to the local path worked..... the executors distributed among all nodes

I guess I should download the jar from the hdfs for the first time, and then specify the local jar path

BTW, does the community  consider exposing the classpath parameter, that user will specify there extra classpath?

[2022-01-10 09:12] kira-lin commented on #199
This should be simple. Do you want to contribute a PR?

[2022-01-10 09:17] Bowen0729 commented on #199
Of course, I would open a PR in the next few days.

[2022-01-12 01:48] kira-lin commented on #199
No, executors will write data to ray respectively, and only object refs will be collected to master.

writer,writeBatch OOM is more tricky, Can you provide more information? Increasing ray object store memory might not work, since writer.writeBatch does not write data to object store. It is actually serializing dataframe to arrow stream IPC format, so that it can be read by python. You should firs

[2022-01-12 02:08] Bowen0729 commented on #199
I increase the parallelism of ray.data.from_spark(), and now it works fine with the same executor memory, does it mean that the data of each partation is too big, so writer.writeBatch for each partation OOM, and how can I determine the parallelism number for other situations?

[2022-01-12 02:33] kira-lin commented on #199
By increasing the parallelism number, we will also repartition the dataframe. When converting the dataframe(in jvm) to ray dataset(in python), we need to first convert the spark dataframe to arrow data, one partition at a time. This will take up some extra memory, around the size of one partition of dataframe

[2022-01-12 02:38] Bowen0729 commented on #199
I see. Thank you for your patient explain

[2022-01-12 02:51] kira-lin commented on #199
We are now using 1 to 1 mapping from spark dataframe partition to ray dataset block. It's also possible to do 1:N mapping, what do you think? Is it necessary?

[2022-01-12 03:27] #31 closed

[2022-01-12 06:05] Bowen0729 commented on #199
I have no idea, but actually you can do that and let users choose 1:1 or 1:N mapping

[2022-01-14 02:21] marin-ma opened #202 "Spark UI executor page is empty"
![image](https://user-images.githubusercontent.com/52736607/149440515-afd5a477-056b-4694-9a3e-fd8390cdd05f.png)

It returns an error:

HTTP ERROR 500 java.lang.NoSuchMethodError: org.glassfish.jersey.server.ServerExecutorProvidersConfigurator.registerExecutors(Lorg/glassfish/jersey/internal/inject/InjectionManager;Lorg/glassfish/jersey/model/internal/ComponentBag;Lorg/glassfish/jersey/spi/Executor

[2022-01-14 02:31] kira-lin commented on #202
I guess it's included in our pom due to SparkSubmit? Delete it if we can, otherwise upgrade it.

[2022-01-14 06:12] #202 closed

[2022-01-14 06:18] #199 closed

[2022-01-15 16:50] Ryan0v0 opened #204 "`val_accuracy` equals to 0 when runing pytorch_nyctaxi.py"
Hi, I tried to run pytorch_nyctaxi.py but got the result `val_accuracy:0.0`. I'm wondering how can I deal with that?

Here is the log. Thanks in advance!
[code]

[2022-01-15 20:12] Ryan0v0 opened #205 "RuntimeError: A Ray actor died during training and the maximum number of retries (1) is exhausted"
Hi, I tried to run xgboost_ray_nyctaxi.py but got the `RuntimeError: A Ray actor died during training and the maximum number of retries (1) is exhausted`. How can I fix it?

Here is the log. Thanks in advance!

[code]

[2022-01-17 02:46] kira-lin commented on #204
This example just serves as a demonstration of how to train pytorch models on data loaded/processed by raydp. The data is randomly generated, so it is not expected that the model will generate meaningful results.

[2022-01-17 02:55] kira-lin commented on #205
I'm not sure about this, but it seems to have something to do with OpenMP. Can you run some xgboost_ray examples to verify if it's raydp's problem?

[2022-01-19 08:09] kira-lin opened #207 "[Feature] Support Fault Tolerance in RayDP"
Raydp should be able to recover/re-calculate data lost in ray as Spark does.

[2022-01-26 17:31] james-tn opened #208 "Error: Could not find or load main class io.ray.runtime.runner.worker.DefaultWorker"
Hello,
I setup a ray cluster, install java on the node but when I do spark_init, the above error occurred in workers's node.
I checked ray dashboard, the actors for worker nodes are in pending status. Only the actor for head node could be created.

[2022-01-27 01:32] kira-lin commented on #208
Hi,
Thanks for trying raydp. Your issue is quite similar to #199 . The error says it cannot find ray's java main class to start java workers. There should be some error with the environment. Can you find ray's jar under the same path on all nodes?

[2022-01-28 20:45] james-tn commented on #208
For each worker, the path to ray's jars is like this: /ML_ENV/NODE_ID/lib/python3.8/site-packages/ray/jars/ray_dist.jar where NODE_ID is unique to each worker.
The cluster is setup manually where head node starts first then each worker follows. I have no problem with other ray packages but only spark on ray.

[2022-01-29 03:02] james-tn commented on #208
I saw the issue 199 and I think the problem is that in my driver environment the paths to raydp and ray jars are different from that of workers. I made the jars available at workers in the same path as the driver so the above error no longer appeared. Actors were started but those at workers all died. The log at those dead actors is like this:
12022-01-29 02:57:15,399 ERROR TaskExecutor [main]: Fa

[2022-01-29 04:20] carsonwang commented on #208
Java is required on every worker node and JAVA_HOME needs to be set. Please also check the version. RayDP 0.4.1 should work with Ray 1.8/1.9 and pySpark 3.2.0. Did you install pySpark through pip? If you have SPARK_HOME set to another install, please  unset it. Another thing to try is to run pySpark on your worker node to make sure the Java environment and pySpark itself can work properly first.

[2022-01-29 04:28] james-tn commented on #208
I used RayDP nightly. Pyspark was installed via pip. I checked Java is there in worker node. RayDP can run, it’s just that the actors only survived in head node. The error came from io.ray. I’ll test pyspark in worker node.

[2022-01-29 22:28] james-tn commented on #208
It turned out that the RayDP also expects the pyspark in workers to the in the same directory as in the driver node. I needed to create the same Raydp, ray and pyspark jars in the workers for this to work. I think the raydp.executor.extraClassPath should support adding multiple paths instead of just one like.

[2022-01-29 22:28] #208 closed

[2022-01-29 22:31] james-tn commented on #199
I suggest that the raydp.executor.extraClassPath parameters be in the form of a list of jars with comma as separator to support adding multiple paths. In my case, I needed to customize ray, raydp and pyspark paths to jars. This is to support custom cluster setup where driver configuration can be different from worker.

[2022-02-01 18:44] james-tn opened #209 "ray.data.from_spark() failure with java.io.InvalidClassException: org.apache.spark.sql.raydp.ObjectStoreWrite"
I tried to run ray.data.from_spark() with raydp-nightly. My ray is 1.9.2, it threw following exception
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 2.0 failed 4 times, most recent failure: Lost task 0.3 in stage 2.0 (TID 90) (10.0.0.5 executor 5): java.io.InvalidClassException: org.apache.spark.sql.raydp.ObjectStoreWriter; local class incompatible: stream cl

[2022-02-02 19:35] james-tn commented on #209
Probably conflicting of version between nightly and 0.4.1. Problem gone after removing and re-installing everything

[2022-02-02 19:35] #209 closed

[2022-02-10 10:36] Bowen0729 opened #211 "Can pyspark version < 3.2.0 for raydp 0.4.0?"
I want to read hudi using raydp, but hudi doesn't support pyspark 3.2.0 for now

[2022-02-10 11:17] Bowen0729 commented on #211
no

[2022-02-10 11:17] #211 closed

[2022-02-10 13:24] carsonwang commented on #211
Thanks for the feedback. It should not be very difficult for RayDP to support multiple Spark versions. We will consider adding it.

[2022-02-11 01:53] carsonwang opened #212 "Multi Spark Version Support"
We can start with supporting Spark 3.1 and 3.2. This is useful for users who wants to use RayDP with some Spark tools/plugins that only supports an older Spark version. For example see #211

[2022-02-11 01:56] carsonwang opened #213 "Integrate Spark Streaming with Ray/Ray Datasets"
The requirements would be to take a Spark Streaming job and output to a DatasetPipeline that can be used to read the data for training.

[2022-02-24 02:12] carsonwang opened #215 "Support Ray gcs bootstrap mode"
Ray master now uses gcs bootstrap mode by default and doesn't start redis. Need to update RayDP to work with latest Ray.
Also need to reenable the RayDP test in Ray after the udpate. See https://github.com/ray-project/ray/pull/21771

[2022-03-02 10:39] SrilekhaIG opened #217 "Using RayDp with SparkNLP gives an exception when trying to view the spark dataframe columns"
Hello
 Using Raydp to start a spark cluster and then run a pipeline from John Snow Labs sparknlp. It gives me an issue when I try to view the  spark dataframe.  The sparkdf.show() fails for any complex data type. I am able to see a string from the same dataframe

The exception is :
cannot assign instance of java.lang.invoke.SerializedLambda to field org.apache.spark.sql.catalyst.expressions.object

[2022-03-03 02:33] kira-lin commented on #217
Hello,
Glad you tried RayDP. I'm not sure, but I guess the exception is not directly caused by RayDP. What version of Spark are you using? The notebook you provide says it uses spark 3.1.2. But RayDP 0.4.1 requires Spark >= 3.2.0.

Have you tried the same code with a traditional Spark cluster? Does it work?

[2022-03-03 07:20] SrilekhaIG commented on #217
Thank you so much for your reply. The spark version used is 3.2.1.
Dont think  it is  caused by RayDP. It seems to be some config which is missing when starting up spark.
It looks like an issue with the spraknlp library. I have raised an issue with them too.
Was checking  if you can have any leads when you see these kind of exceptions?

Thanks a lot for your time

[2022-03-03 07:53] kira-lin commented on #217
I see. My suggestion is that you can try it on a non-raydp spark cluster, like local mode or standalone. If it works on those but not raydp, we'll check why it fails.

Thanks

[2022-03-03 08:05] SrilekhaIG commented on #217
Yes I tried it on a non raydp cluster with the following, In raydp I used the same configs. Here the pipeline worked fine.

spark = SparkSession.builder \
    .appName("Spark NLP")\
    .master("local[4]")\
    .config("spark.driver.memory","16G")\
    .config("spark.driver.maxResultSize", "0") \
    .config("spark.kryoserializer.buffer.max", "2000M")\
    .config("spark.jars.packages", "com.johns

[2022-03-03 08:20] carsonwang commented on #217
@SrilekhaIG , thanks for the feedback. I suspect if the SparkNLP jar file is properly included in the driver/executor classpath correctly when running on RayDP. I'll take a look. Your use cases sounds interesting. I am curious why you wants to run SparkNLP on Ray and how it helps?

[2022-03-07 10:00] carsonwang commented on #217
@SrilekhaIG , there is a problem in the executor classpath when using `spark.jars.packages` in RayDP. As a workaround, can you please try to install latest raydp-nightly and set "raydp.executor.extraClassPath" to the path that contains sparknlp jars? I was able to run the example you provided after setting this. But I didn't reproduce the exact error you had. Without setting this, I got the classn

[2022-03-08 06:00] SrilekhaIG commented on #217
Thank you so much for checking this one out. It works with the property that you have mentioned. I think the spark.driver.extraclasspath is not needed once I used the raydp.executor.extraclasspath.  Is this a permanent solution? Or a workaround for the timebeing.

[2022-03-08 08:38] kira-lin commented on #217
@SrilekhaIG Glad to see the problem is solved. This is indeed a workaround, we'll see why spark.jars.packages fails in RayDP. But you can use raydp.executor.extraclasspath for now.

[2022-03-08 09:06] hezhaozhao-git opened #220 "add spark read hive support"
### issue
When I use raydp's spark to read hive, the error 'not found table or view' is reported. Looking at the source code, it is found that the read does not support enableHiveSupport by default.
The relevant code is in [ray_cluster.py](https://github.com/oap-project/raydp/blob/master/python/raydp/spark/ray_cluster.py)

### Are you willing to submit a PR?
Yes I am willing to submit a PR!

[2022-03-08 10:23] SrilekhaIG commented on #217
If it helps, I have raised an issue in the sparknlp git. The link to the issue is :
https://github.com/JohnSnowLabs/spark-nlp/issues/7003

[2022-03-09 02:24] kira-lin opened #222 "[enhancement] Merge RayDPObjectHolder into RayDPSparkMaster"
Now that we have RayDPSparkMaster as an actor, we no longer need an explicit object holder. We can move its functions to spark master actor.

[2022-03-24 02:26] dalgual commented on #89
@carsonwang

I have a similar error at: spark = raydp.init_spark("test", 1, 1, "2g").
Do you have any step-by-step tutorial page or link to reproduce your codes? Do you have any yaml example to share as well to launch raydp at AWS?

(1) If I run it at ipython3, I have the following error:
Py4JJavaError: An error occurred while calling o0.setProperties.
: java.lang.NullPointerException
        at j

[2022-03-24 03:10] carsonwang commented on #89
@dalgual , we don't have yaml or docker image published right now. Did you create your own image based on Ray's docker image and have RayDP and java installed properly? There is an example RayDP docker file for reference https://github.com/oap-project/raydp/tree/master/docker

[2022-03-24 03:14] dalgual commented on #89
@carsonwang
I launch EC2 instances as follows. Do I miss anything in the following?:
ray up -y config.raydp.yaml

------ config.raydp.yaml ----------------
cluster_name: ray-dp-bigdai

max_workers: 2
upscaling_speed: 1.0

provider:
 type: aws
 region: us-west-2
 availability_zone: us-west-2a,us-west-2b
 # Whether to allow node reuse. If set to False, nodes will be terminated
 # instead of stopped.

[2022-03-24 03:36] kira-lin commented on #89
Unfortunately, we don't have such yaml now.
Are you using raydp 0.4.1 and ray 1.11.0? Also can you provide complete error message when running python script? Is it the same as ipython3 case?

[2022-03-24 04:02] dalgual commented on #89
@kira-lin
yes, here it is:
ray, version 1.11.0

ubuntu@ip-172-30-0-170:~/examples$ cat test_ray_init.py
import raydp
import ray

raydp.__version__

import pyspark

pyspark.__version__

ray.init(address='auto', _redis_password='5241590000000000')
spark = raydp.init_spark("test", 1, 1, "2g")

ubuntu@ip-172-30-0-170:~/examples$ python test_ray_init.py
Traceback (most recent call last):
  File "test_r

[2022-03-24 05:40] kira-lin commented on #89
I've verified that indeed raydp-0.4.1 does work with ray 1.11.0. Can you please try to use previous versions of ray? Or you can use raydp-nightly, too.

[2022-03-24 21:30] dalgual commented on #89
@[kira-lin](https://github.com/kira-lin) Thanks it works ;-)

[2022-03-25 01:55] dalgual commented on #89
@kira-lin @carsonwang  I run XGBoost using raydp by reading a dataset at s3. Do you have any example code to read S3 using ray? I got the following error

Traceback (most recent call last):
  File "xgboost_ray_nyctaxi.py", line 25, in <module>
    .load(NYC_TRAIN_CSV)
  File "/home/ubuntu/anaconda3/lib/python3.7/site-packages/pyspark/sql/readwriter.py", line 158, in load
    return self._df(self._

[2022-03-25 02:23] kira-lin commented on #89
Are you able to read it using pyspark? Seems like reading/writing s3 requires some config, and some extra package, like hadoop-aws. Maybe you can refer to [this](https://hadoop.apache.org/docs/stable/hadoop-aws/tools/hadoop-aws/index.html#Getting_Started)

[2022-03-25 02:56] dalgual commented on #89
Does ray and raydp access data at the same node/server?
Is there any way to read files from other data source such as s3, object storage of Azure & GCP?

[2022-03-25 03:01] kira-lin commented on #89
raydp is spark on ray. Anything you can do on spark should also be possible with raydp. Reading s3 should be possible with the library I provided above. This is another compact [tutorial](https://medium.com/knoldus/apache-spark-read-data-from-s3-bucket-a53a395c3282), hope it helps.

[2022-03-25 03:16] dalgual commented on #89
@[kira-lin](https://github.com/kira-lin) Thanks. I found out that the following works:

data = ray.data.read_csv("s3://my_bucket/test.csv")

[2022-03-25 03:22] dalgual commented on #89
@[kira-lin](https://github.com/kira-lin)

I cannot open ray dashboard when I launch a cluster with raydp and xgboost_ray together using "pip install xgboost_ray raydp-nightly" - I can with raydp only.

Do you have any idea how I can open ray dashboard or make it run?

[2022-03-25 03:27] kira-lin commented on #89
That's strange. Do you mean ray dashboard or spark dashboard? Ray dashboard should be available without raydp. It should start once you create the cluster

[2022-03-28 13:28] Alan-Penkar opened #225 "Cannot Initialize Spark with RayDP"
I'm trying to use RayDP with Spark, and having trouble getting it initialized with the sample code in the documentation.  My code and error is below, I'm on Spark 3.2.1, Python 3.7.11, Ray 1.11.0, Raydp 0.4.1.  I'm not sure if there is a version issue or there's something missing from the documentation, so any help would be appreciated.

Code below is running on Debian in Docker

[code]
[code]

[2022-03-28 18:01] dalgual commented on #89
@kira-lin I can run PySpark xgboost-ray code now with CPU. However, even though I have the following code with "gpu_hist", I dont have any clue if the code runs using GPU - the code actually works well with CPU but not with GPU. Dashboard only shows the resouces of CPU. How I can tell if the code runs in GPU? Do you have any example code link with GPU?
I also list a result of ray status below:

#g

[2022-03-29 01:32] kira-lin commented on #89
@dalgual
It seems like your cluster is not ready. Only the head node is up, others are pending. Is it the status when you run the code? If so, the resource you require (3xGPU) cannot be met. I guess you should specify gpu in resource when you config the cluster. We don't have much experience on using gpu in ray, maybe you should ask people in the xgboost_ray repo.

[2022-03-30 01:43] kira-lin commented on #225
@Alan-Penkar , yes, as I tested, ray 1.10.x should work.

[2022-04-07 21:55] tdeboer-ilmn opened #226 "Can't start raydp when ray head node is not the same as the raydp node"
I am trying to setup raydp on my ray cluster, but I am creating the ray client like this

[code]

But this results in these errors
[code]

Seems that it tries to assume that the local machine is the ray server...
Is there a way to configure raydp?

[2022-04-08 02:22] kira-lin commented on #226
Hi @tdeboer-ilmn ,
Glad you tried raydp. You are right, raydp.init_spark is assumed to be called in the ray cluster. If you need to use ray client, for the current stable release, you need to wrap your driver program in a ray actor, so that it can be executed on a node in the ray cluster. If you are willing to try raydp-nightly, then you can use raydp.init_spark on your local machine, and it works

[2022-04-09 23:03] tianlinzx opened #228 "[Feature]Support for Ray 1.12.0 ?"
[Feature]Support for Ray 1.12.0 since it is officially released ?

[2022-04-13 02:50] kira-lin commented on #228
It seems like 1.12.0 has not finalized. We'll see if we can support it with the latest patch. Thanks

[2022-04-15 01:15] tianlinzx commented on #228
@kira-lin 1.12.0 is now finalized . would you please officially support it ?

[2022-04-15 02:14] kira-lin commented on #228
Hi @tianlinzx , we'll soon release 0.4.2 to support it. The PR is ready.

[2022-04-18 01:35] tianlinzx opened #230 "Support for Spark 3.2 ?"
Support for Spark 3.2 ?

[2022-04-18 02:00] kira-lin commented on #230
Do you have problem using spark 3.2? RayDP support spark 3.2 now

[2022-04-22 18:12] gbraes opened #234 "Error while using foreachBatch in writeStreaming"
Hi,
 I am using raydp-nightly (0.5.0.dev0) with ray 1.11.0 and pyspark 3.2.1 (python 3.7.7). I have a cluster with the a ray head and 2 ray workers nodes. I have tested with multiple pyspark pipelines and I never had a problem.
Now however, I am reading some data from Kafka and trying to apply the function foreachBatch:
[code]

It works using directly the session from pyspark but it does not work

[2022-04-24 01:47] kira-lin commented on #234
Hi @gbraes , we are very excited to see that you have tried many pipelines with raydp! We have never tested raydp with kafka though. Can you please give a minimal code snippet to reproduce the problem?

[2022-04-25 18:08] gbraes commented on #234
Thank you, @kira-lin .

This is the code that is failing:
[code]
And this are the logs:

[code]
Note: I have changed the Host IP address from the first log by 127.0.0.1

[2022-04-26 05:02] #230 closed

[2022-04-26 05:02] #228 closed

[2022-04-26 05:39] kira-lin commented on #228
We have released 0.4.2, please reopen it if you still have issues.

[2022-04-26 17:39] gbraes opened #235 "Setting log level in RayDP"
In the recent version of Ray/RayDP 1.12/0.4.2  I am getting a lot of INFO logs. I am trying to disable them. Does Anyone know how to do that when using RayDP?  ```sc.sparkContext.setLogLevel('WARN')``` does not work.

[2022-04-27 06:11] kira-lin commented on #234
Hi @gbraes , glad you made it work! This is quite strange, since 0.4.2 just added support for ray 1.11 and 1.12. There are no major changes. We'll look into the sqlContext issue, does this bother you?

Due to some version conflicts, we did not include log4j from pyspark. We use the one from ray. Setting logging_level='warn' while calling ray.init works. This is quite confusing, we'll see how to im

[2022-04-27 06:12] kira-lin opened #236 "[Enhancement] Improve logging configuration"
Right now,  the native spark way to configure the logging level does not work. We need to fix it.
Update README if necessary.

[2022-04-27 09:21] gbraes commented on #234
Hi @kira-lin,  no the sqlContext issue is not a problem at the moment as the Sparksession is the more modern recommended way of create pipelines.

Thanks for this great work!

[2022-04-27 11:08] gbraes commented on #235
I have also tried to disable it using logging_level='warn' in Ray.init
[code]
It keeps giving you a lot of INFO logs.

[2022-04-28 02:34] kira-lin commented on #235
Hi,
It seems like only under `ray.init('auto', logging_level='warn')` and add `configs={"spark.driver.extraJavaOptions": "-Dlog4j.configuration=/home/lzhi/log4j.properties"}` in raydp.init_spark can the logging level be set. We'll look into it.

Thanks for raising this issue

[2022-05-05 08:51] kira-lin commented on #235
Hi @gbraes,
This problem is ray's jar wraps slf4j, while pyspark/jars/ also contains slf4j. When spark starts, we need to add ray.jar to classpath, so it'll find two bindings, and this is annoying. As I tested, if you remove the slf4j jar from pyspark/jars/, and set the `configs={"spark.driver.extraJavaOptions": "-Dlog4j.configuration=/home/lzhi/log4j.properties"}`, most logging will go away.

[2022-05-05 11:00] gbraes commented on #235
Hi @kira-lin , I have tested using my own `log4j.properties` file where I set up the log level to `warn`. After adding that extra java option where I point to that file, as you mentioned in the `config` when loading raydp, and now it works!. So, now I don't get the annoying and verbose INFO logs. Thanks!

[2022-05-23 08:49] KepingYan opened #240 "error while run examples/raydp-submit.py"
When CI executes to
[code]
an error `Caused by: com.typesafe.config.ConfigException$Null: examples/ray.conf: 1: Configuration key 'ray.address' is set to null but expected STRING` occurs. Details can be viewed in [CI runs](https://github.com/oap-project/raydp/runs/6549420197?check_suite_focus=true).

[2022-05-23 09:23] KepingYan commented on #240
if https://github.com/oap-project/raydp/blob/58fce7fa8d92c691d7232e4e5ddba07d7c81b010/examples/raydp-submit.py#L11 is changed to `options["ray"]["address"] = node.address`, the program will get stuck at:

2022-05-23 17:11:37,742 INFO SparkContext [dag-scheduler-event-loop]: Created broadcast 0 from broadcast at DAGScheduler.scala:1478
2022-05-23 17:11:37,750 INFO DAGScheduler [dag-scheduler-event-

[2022-06-13 12:46] carsonwang commented on #240
closed by #245

[2022-06-13 12:46] #240 closed

[2022-06-22 18:40] pang-wu opened #247 "Support for spark.jars.packages is broken?"
The issue is the same as [this one](https://github.com/oap-project/raydp/issues/111) I believe.
tldr; If developer specify jar dependencies through `spark.jars.packages` these packages won't be distributed to worker node (or maybe distributed not in the class path). One simple way to test this out is run raydp to read a file from S3 by following code:

[code]

and you will get error:

[code]

If u

[2022-06-23 02:36] kira-lin commented on #247
Hi @pang-wu , thanks for opening this issue. We'll look into this. It seems like some options are not copied to executors.

[2022-06-23 17:25] pang-wu commented on #247
Awesome! Please let me know if you need anything from me, we are actively using RayDP on a lot of things, looking forward the tool getting better! @kira-lin

[2022-06-29 06:58] Bowen0729 commented on #199
https://github.com/ray-project/ray/pull/24170
ray support add jars in runtime env for Java , I think this issue can be optimized with this feature.

[2022-07-03 09:02] pang-wu opened #250 "Support custom installed Spark from $SPARK_HOME"
Currently the Spark classpath is inferred by the pyspark install location. In our environment I need to support a custom installed Spark location because I can't control/know where pyspark is installed (and might not have access as well).

[2022-07-13 07:45] LAITRUNGMINHDUC opened #254 "RayDP on Databricks"
Hi all,

I read on Databricks websites - and I learn about RayDP: https://databricks.com/session_na21/build-large-scale-data-analytics-and-ai-pipeline-using-raydp

I tried to make this example works, but the system crash at the first line:
`spark = raydp.init_spark(......)`

The error keeps saying:` "java gateway process exited before sending its port number".`

Could you please share your thinkin

[2022-07-13 09:17] carsonwang commented on #254
Hi @LAITRUNGMINHDUC, did you start a Ray cluster on a Databricks Spark cluster and then want to use RayDP? RayDP is Spark on Ray so it makes it look like Spark on Ray on Spark. Usually you can just start a Ray cluster in cloud and use RayDP to run the Spark program and connect with other Ray components. Could you please share more about your use case that you want to run on Databricks?

[2022-07-14 09:34] carsonwang commented on #250
Fixed by #251

[2022-07-14 09:34] #250 closed

[2022-07-15 08:44] LAITRUNGMINHDUC commented on #254
Oo

[2022-07-16 02:04] kira-lin commented on #254
hi @LAITRUNGMINHDUC ,
RayDP does not has its own SQL implementation for now, I think the performance would be very similar to vanilla spark. If you want to have better SQL performance, maybe you can try our another project, gazelle.

I can't identify the problem with the error you provide. Can you please run ps aux| grep raydp, and shutdown the related process(a java process, main class is AppMast

[2022-07-20 15:57] Hoeze opened #256 "How to request all available resources in the ray cluster in init_spark()?"
Hi, how would I use the full Ray cluster for Spark?
I.e. how do I run one executor on each node, taking all available resources?

[2022-07-20 20:27] Hoeze opened #257 "init_spark() does not work"
I tried with both `raydp` and `raydp-nightly`.
I'm using `pyspark=3.2.1` with `ray-core=1.12.1` from conda-forge.

[code]

[2022-07-20 20:31] Hoeze commented on #257
Using `raydp-nightly-22.7.18.dev1` with `raydp.executor.extraClassPath`:
[code]

[2022-07-21 09:16] Hoeze commented on #257
Apparently it seems to be an issue with the ray-core package.
Installing ray via pip seems to work...

[2022-07-21 09:47] carsonwang commented on #257
@Hoeze ,thanks for the feedback and update!

[2022-07-21 09:49] carsonwang commented on #256
You can use `raydp.init_spark(..., placement_group_strategy="SPREAD")` to spread the Spark executors to all nodes. Please see
https://github.com/oap-project/raydp/blob/master/doc/spark_on_ray.md#placement-group

[2022-07-21 22:42] Hoeze commented on #256
Yes, but my issue is that I still need to specify number of executor cores and executor memory.
Even with my best-effort guess I cannot get all workers to run:
[code]
Results in:
[code]
I.e. I'm wasting tons of resources.

[2022-07-22 01:43] kira-lin commented on #256
When printing available resources, have all executor actors started? It might take some time. Does all nodes have the same resources(at least CPU and memory)?

[2022-07-22 13:36] Hoeze commented on #256
@kira-lin I found the issue:
One of the hosts had only 2GB of memory per core available.
Except this one, all our hosts have >=4GB/core.

Would it be possible to account for such node-specific differences somehow?

[2022-07-25 01:37] kira-lin commented on #256
hmm, I think you can use 2GB memory per core, so that you can use all cores on your cluster. If that's not enough for your workload, then you have to spare some cores on that node.

[2022-07-25 08:09] pang-wu opened #259 "[RFC] Fractional resource scheduling (CPU)"
## Problem Statement
Ray support fractional resource scheduling for actors, you can put resources less than 1 to improve the utilization of physical resources. Currently RayDP map Spark executor cores straight to actor CPU, which makes Spark users unable to leverage Ray's advance scheduling scheme.
We also want user able to schedule on GPU machines.

## Why Not Custom Resource Scheduling on Spark?

[2022-07-26 06:50] Bowen0729 commented on #175
What if I want to start two spark driver on the same time? What should I do?

[2022-07-26 07:00] carsonwang commented on #175
@Bowen0729 , can you please share more about your use case and requirement?

[2022-07-26 07:08] Bowen0729 commented on #175
Two users both user raydp in the same conda environment, one of them throw exception address already in use

[2022-07-26 08:36] Bowen0729 commented on #175
The Java Gateway port is always 25333, why not a random port?

[2022-07-26 08:46] carsonwang commented on #175
This sounds like an issue. So two users will run their Spark driver on the same node and connect to the same Ray cluster, right? Are you interested in submitting a PR for this?

[2022-07-26 08:50] Bowen0729 commented on #175
Sure, I will submit a PR recently. Thank you for your reply

[2022-07-26 08:53] carsonwang commented on #175
Great! Thanks!

[2022-07-28 10:58] n1CkS4x0 opened #261 "Memory requirements Spark on Ray on Kubernetes"
# Scenario

I have launched Spark on Ray on Kubernetes performing data processing and training using 4 m5a instances on AWS which means 4 cores and 16GB RAM with the following parameters:

1) 3100m core k8s for each node
2) 14000MI RAM k8s per node
3) 8000MB spark executor memory per node (1 executor with 3 cores per node)
4) 1000MB ray object store memory per node
6) dataset size 4GB

If I increa

[2022-08-01 03:57] carsonwang commented on #261
You can try to tune a few Spark configurations to see if you can run it successfully with less memory. For example, you can increase "spark.sql.shuffle.partitions".  You can also allocate less cores per executor so each core will have more memory, but in this way you will have less parallelism.

[2022-08-01 06:52] #259 closed

[2022-08-01 07:05] pang-wu commented on #175
@Bowen0729 @carsonwang In this case how do we distinguish the user call `init_spark` twice by mistake or by intention?

[2022-08-01 07:12] Bowen0729 commented on #175
It's a issue about the java gateway always starts with the default port, so when user call init_spark twice in different session,  the new java gateway cannot start.

when user call init_spark in the same session, raydp will throw "The spark environment has inited".

[2022-08-11 10:20] Writer-X opened #263 "How to use hive in Spark on RayDp？"
An error occurs when I use “spark = raydp.init_spark(...,enable_hive=True)”, I want to make sure that ray1.13.0 and raydp0.4.2 support this
feature?

[2022-08-12 07:37] Writer-X commented on #263
Using raydp-nightly fixed this problem

[2022-08-12 08:09] carsonwang commented on #263
hi @Writer-X, Thanks for the update!

[2022-08-15 08:54] SebastienDorgan opened #264 "Scala, Java & R APIs"
Is it possible to use a spark cluster created with RayDP via Scala, Java & R APIs?

[2022-08-15 09:01] carsonwang commented on #264
Yes, you can use raydp-submit (similar to spark-submit) to submit an application to the Spark cluster created by RayDP. Please see https://github.com/oap-project/raydp/blob/master/doc/spark_on_ray.md#spark-submit
Please let us know if you encounter any problem.

[2022-08-15 09:07] SebastienDorgan commented on #264
Great, thank you very much!

[2022-08-15 09:08] #264 closed

[2022-08-19 23:04] JasperHG90 opened #265 "RayDPConversionHelper is pending resources"
Hi!

I'm trying to set up RayDP with a local ray cluster on my macbook pro. I'm following the basic tutorial and executing:

[code]

However, something simple as:

[code]

Yields:

[code]

When I look at the ray dashboard, I see:

<img width="1242" alt="image" src="https://user-images.githubusercontent.com/8079803/185717579-4a4a1427-8441-4810-9b9b-639d5d78b761.png">

I'm confused about what is goi

[2022-08-20 08:44] JasperHG90 commented on #265
Fixed by using nightly and initializing as:

[code]

[2022-08-20 08:44] #265 closed

[2022-08-24 13:09] Writer-X commented on #263
hi @carsonwang, I  encountered an error when using this sample.

`
import ray
import raydp
ray.init("auto")
spark = raydp.init_spark(app_name="RayDP Example",
                         num_executors=2,
                         executor_cores=2,
                         executor_memory="4GB")

# Spark Dataframe to Ray Dataset
df1 = spark.range(0, 1000)
ds1 = ray.data.from_spark(df1)
`

The error is

[2022-08-25 01:26] kira-lin commented on #263
This error indicates that the Raydp Jar is not included in the pyspark driver's classpath for some reason. Can you check driver_cp in ray_cluster.py and see if it is a valid path where the driver is run?

[2022-08-25 08:35] tianlinzx opened #266 "Ray 2.0 Support"
Since Ray2.0 is released, will ray 2.0 be officially supported ?

[2022-08-26 02:14] kira-lin commented on #266
We are look into this, thanks for opening the issue

[2022-08-26 12:43] Hoeze commented on #236
+1 on that. I get a lot of unnecessary INFO logs in my cell output that I do not get with plain spark.
Would be quite helpful to have a possibility to turn these off.

[2022-08-29 09:39] Writer-X commented on #263
Thank you for your advice. I have corrected the above error by modifying rayDP_cp in ray_cluster.py, but there is still a new error.

![1280X1280](https://user-images.githubusercontent.com/80471801/187171797-58a40436-d42e-4621-80f6-26b20f32f328.PNG)

I use spark3.2.2. Maybe I'm using the wrong version of Spark?

[2022-08-30 01:03] kira-lin commented on #263
Are you using java 9? In our tests, we use java 8 and spark 3.2.1, you can try this configuration. Can you use pyspark to start a session without raydp?

[2022-08-31 02:05] Writer-X commented on #263
I'm using JAVA8. After the Spark version is changed to 3.2.1, this problem is not fixed. The initialization is still the same as the sample mentioned above.
`spark = raydp.init_spark(app_name="RayDP Example",
                         num_executors=2,
                         executor_cores=2,
                         executor_memory="4GB")`

[2022-08-31 03:01] kira-lin commented on #263
https://stackoverflow.com/questions/57519804/using-jackson-2-9-9-in-java-spark

Maybe this link helps. I'm not sure if this error is related to RayDP

[2022-09-01 06:58] andreapiso opened #268 "Spark DF to Ray Dataset Error"
Hi, I am on SparkDP nightly (as i wanted to query hive).

I am not able to convert sparkdp dataframes to ray datasets. Have this error even for simple ones.

for example:

[code]

Produces:

[code]

Do I have something wrong in my Spark configuration? Other conversions, like pandas on spark, work fine.

[2022-09-01 09:55] carsonwang commented on #268
Looks like the JAR was not correctly loaded. Did you install RayDP and pySpark through pip? If not, can you please share how you setup the environment?

[2022-09-01 10:11] andreapiso commented on #268
Thanks for getting back so quickly!! Yes I install both with PIP.

My environment is a cluster where there is a pre-installed Spark on K8s setup. However Spark is 2.4 so instead I am using pip to install pyspark 3.2 and raydp nightly in my conda environment - and setting spark conf to a different folder so that I can use local spark instead.

These are the variables I am setting:

`SPARK_HOME`: po

[2022-09-01 10:42] andreapiso commented on #268
Hi - I tried to load the RayDP JAR manually in spark-defaults.conf:

[code]

Now the error is different:

[code]

Is there a list of JARs that need to be included?

[2022-09-01 11:21] andreapiso commented on #268
Looks like we solved the problem! Apparently the issue was that i was calling once `SparkContext()` before setting up the SparkDP - apparently that messes things up.

[2022-09-02 01:21] kira-lin commented on #268
Glad you solved it! Do you mean you create a SparkContext before using raydp to create it?

[2022-09-02 01:26] #268 closed

[2022-09-02 12:03] joyliu329 commented on #266
How's it going? I can't wait ~

[2022-09-06 06:09] kira-lin commented on #266
@joyliu329 thanks for your patience. We have already merged the support for ray 2.0, you can try our nightly. We'll release a official version very soon.

[2022-09-07 22:46] Hoeze commented on #175
+1 on that issue. It's annoying since we are possibly running multiple ray+raydp instances on the same host...
Especially when there are multiple users!

[2022-09-09 05:41] carsonwang commented on #236
This has been resolved by #269

[2022-09-09 05:41] #236 closed

[2022-09-09 08:21] carsonwang commented on #266
Ray 2.0 is supported in RayDP 5.0.0. Thanks for the patience. I will close this one. Please feedback if you have any new request or issue.

[2022-09-09 08:21] #266 closed

[2022-09-09 08:26] #257 closed

[2022-09-09 08:56] carsonwang commented on #235
This has been improved in RayDP 0.5.0. Please see https://github.com/oap-project/raydp/blob/master/doc/spark_on_ray.md#logging

[2022-09-09 08:56] #235 closed

[2022-09-09 13:21] gebraes commented on #235
@carsonwang Thanks a lot!

[2022-09-12 07:24] jerryzhou3 opened #272 "Two RayAppMaster actors launched?"
It seems to me that raydp spark has two RayAppMaster actors launched, one launched in python/raydp/spark/ray_cluster.py with the RayDPSparkMaster class using the Java bridge, and another launched in core/src/main/scala/.../RayCoarseGrainedSchedulerBackend.scala.

Is my understanding correct? If so, what is the purpose of launching two RayAppMaster?

Thanks!

[2022-09-13 05:07] kira-lin commented on #272
The one in RayCoarseGrainedSchedulerBackend get launched only when using raydp-submit. In that case, there are no python app, thus no java bridge. In fact, it is added when implementing raydp-submit. So these two never get launched at the same time.

[2022-09-20 08:24] jerryzhou3 commented on #272
That resolves my confusion. Thank!

[2022-09-20 08:24] #272 closed

[2022-10-02 13:24] Hoeze opened #275 "ray.get() dead-locks in applyInPandas()"
The following code snipped dead-locks:
[code]

![grafik](https://user-images.githubusercontent.com/1200058/193456420-a7a7493b-2da0-462d-9a17-27dbe5f9887d.png)

What is my mistake?

[2022-10-02 21:07] Hoeze commented on #275
It seems like the mapInPandas function starts a new local cluster in every evaluation.
How can I make it re-use the actors' cluster connection?

[2022-10-04 22:17] Hoeze opened #276 "Implement shuffle service based on ray object store"
Currently, raydp with spark uses the shuffle service of spark.
However, Ray can itself perform shuffling:
https://github.com/ray-project/ray/blob/master/python/ray/experimental/shuffle.py

It would be nice to integrate a ray shuffle service with Spark inside RayDP.
This would have the following advantages:
- Ray tracks memory usage of the spark application
- Spark actors can be killed any time wit

[2022-10-06 16:46] benedikt-mue commented on #254
Hi @kira-lin.
I am facing the same issue having the same setup. I just want to convert a Spark dataframe into a Ray datasets for downstream model training. Is there a way to do it in this setup?

[2022-10-08 02:01] kira-lin commented on #275
hi @Hoeze,
applyInPandas will start python workers, and these workers are not connected to ray. Actor itself is a process, so it's not quite possible to 'reuse' its session. In addition, I think connecting to ray in each python worker is fine, the problem should be that they are not able to get the obj_ref, because it's not registered in their session. To solve this problem, I suggest defining an

[2022-10-08 02:16] kira-lin commented on #276
This might be a good idea! Thanks for your advice.
I have a concern that ray dataset use arrow format while spark dataframe use its own format, though. But we'll look into it.

For zerocopy, it has something to do with the ray serialization layer, which is still under development.